@use '../../styles/breakpoints.scss' as bp;
@use '../../styles/palette.scss' as palette;
@use '../../styles/font_sizes.scss' as font;

figure div.guitar {
    max-width: 500px;
    img {
        max-width: 500px;
        width: 100%;
    }
}

ul.ul--riffmaster-leds {
    display: flex;
    flex-direction: column;
    color: palette.$white_3;
    font-size: font.$font_md;
    margin-top: 1.5rem;
    list-style: none;
    @include bp.sm {
        font-size: font.$font_lg;
    }
}

ul.ul--riffmaster-leds li {
    display: inline-flex;
}

ul .circle {
    min-height: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul .circle i {
    display: inline-block;
    width: 25px;
    height: 15px;
    border-radius: 5px;
    border: 2px solid black;
}

ul .circle i.red {
    background-color: deeppink;
}

ul .circle i.green {
    background-color: lightgreen;
}

ul .circle i.blue {
    background-color: aqua;
}

.light {
    ul.ul--riffmaster-leds {
        color: palette.$black_2;
    }
}
