@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/font_sizes.scss' as font;

.Blog__title {
    @include bp.md {
        margin-bottom: 3rem;
    }
}

.BlogList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3.BlogList__header {
    font-size: font.$font-lg;
    font-variant: small-caps;
    margin-bottom: 1.5rem;
}

hr.BlogList__hr {
    margin-top: 1.5rem;
}
