.session-game {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.game-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: var(--sp-md);
}

.game-controls button {
    position: relative;
    background-color: var(--color-bg-medium);
    border: var(--border-normal);
    border-radius: 100%;
    color: var(--color-font-light);
    font-size: 30px;
    margin-bottom: var(--sp-md);
    cursor: pointer;
}