@use '../../../../../styles/palette.scss' as palette;

.HeadsUpDisplay {
    width: 100%;
    height: 100%;
    align-items: center;
    margin-bottom: 2rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: palette.$white_4;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: bold;
    background-color: palette.$black_1;
    border-radius: 5px;

    .HeadsUpDisplay__entry {
        padding: 4px 0;
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid palette.$black_1;

        .label {
            width: 25%;
            font-weight: 900;
            color: palette.$white_3;
        }
        .content {
            width: 75%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            color: palette.$white_4;

            .keys {
                display: flex;
                align-items: center;
                gap: 4px;
            }

            div {
                span:nth-child(2) {
                    font-weight: 900;
                    color: palette.$accent_dark_2;
                }
            }
        }
        .metrics {
            justify-content: space-between;

            .errors {
                display: flex;
                align-items: center;
            }
        }
    }
}
