@use "../../styles/breakpoints.scss" as bp;
@import "../../styles/palette.scss";
@import "../../styles/font_sizes.scss";

.SubNav {
    display: none;
    animation: fade_in 500ms linear;
    opacity: 1;
    @include bp.md {
        display: flex;
    }
}

h1 {
    margin-bottom: 3rem;
}

.ProjectCard-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-wrapper--reset {
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    button {
        padding: 0.5rem 1.5rem;
        background-color: $black_1;
        border: 2px solid $black_3;
        border-radius: 50px;
        color: $white_2;
        font-size: $font_md;
        @include bp.md {
            font-size: $font_lg;
        }
        &:hover {
            background-color: $black_2;
            color: $accent_dark_2;
            border: 2px solid $black_1;
            cursor: pointer;
        }
    }    
}