@use "../../../../styles/breakpoints.scss" as bp;
@import "../../../../styles/palette.scss";
@import "../../../../styles/font_sizes.scss";
@import "../../../../styles/animations.scss";

.Categories {
    .form-container {
        margin: 0.5rem;
        @include bp.md {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0;
        }
        form {
            max-width: 1000px;
            .parent-radio {
                display: flex;
                align-items: center;
                align-items: center;
                flex-direction: row;
                @include bp.md {
                    flex-direction: row;
                }
                label {
                    margin-bottom: 0;
                    @include bp.md {
                        margin-bottom: 1rem;
                    }
                }
                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 80px;
                    label {
                        min-width: 0;
                        display: block;
                        margin-top: 0;
                        margin-right: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}