@use "../../../../styles/breakpoints.scss" as bp;
@import "../../../../styles/palette.scss";
@import "../../../../styles/font_sizes.scss";
@import "../../../../styles/animations.scss";


.Xmas {
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form {
        margin-bottom: 0;
        border-radius: 5px; 
    }
    .reindeer-image {
        width: 150px;
        height: auto;
        margin-bottom: calc(-2rem - 20px);
        z-index: 10;
    }
    .message-wall {
        tr td:first-child {
            padding-left: 10px;
            width: 200px;
            font-size: 0.9rem;
            font-family: monospace;
        }
    }
}