@use "../../../../styles/breakpoints.scss" as bp;
@import "../../../../styles/palette.scss";
@import "../../../../styles/font_sizes.scss";
@import "../../../../styles/animations.scss";


.Xmas {
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form {
        margin-bottom: 0;
        border-radius: 5px; 
    }
    .reindeer-image {
        width: 150px;
        height: auto;
        margin-bottom: calc(-2rem - 20px);
        z-index: 10;
    }
    .message-wall {
        tr td:first-child {
            padding-left: 10px;
            width: 200px;
            font-size: 0.9rem;
            font-family: monospace;
        }
    }
    .candle-panel {
        margin: 1.5rem;
        margin-top: 2rem;
        width: 100%;
        max-width: 600px;
        padding: 1rem;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        border: 2px solid $black_3;
        background: $black_x;

        .candle {
            width: 50px;
            height: auto;
            margin: 0 10px;
            img {
                width: 100%;
                height: auto;
                opacity: 0.7;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }
            img.candle-blown {
                position: relative;
                top: 5px;
            }
        }

        @include bp.sm {
            .candle {
                width: 80px;
            }
        }
    }
}