.Xmas {
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form {
        margin-bottom: 0;
        border-radius: 5px; 
    }
    .reindeer-image {
        width: 150px;
        height: auto;
        margin-bottom: calc(-2rem - 20px);
        z-index: 10;
    }
}