@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/palette.scss' as palette;
@use '../../../styles/font_sizes.scss' as font;
@use '../../../styles/animations.scss' as animations;

.Disclaimer {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: palette.$black_1;

    @include bp.md {
        flex-direction: row;
        flex-wrap: wrap;
    }

    img {
        max-width: 250px;
        padding: 20px 0 0 0;
        margin-bottom: 1.5rem;
        border-radius: 100%;
        border: 1px solid palette.$black_2;
        filter: grayscale(1);
        opacity: 0.8;
        @include bp.lg {
            margin-left: 1.5rem;
            width: 250px;
        }
    }

    p {
        margin: 0;
        margin-bottom: 1.5rem;
        font-style: italic;
        font-size: font.$font_sm;
        color: palette.$white_5;
        @include bp.md {
            max-width: calc(100% - 250px - 1.5rem);
            padding: 0 1.5rem;
            font-size: font.$font_md;
        }
        @include bp.xl {
            padding: 0 3rem;
        }
    }
    a.contact-link {
        max-width: 300px;
        width: 100%;
        padding: 0.5rem;
        background-color: palette.$black_1;
        color: palette.$white_2;
        font-size: font.$font_md;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        border: 2px solid palette.$accent_dark_3;
        border-radius: 100px;
        &:hover {
            background-color: palette.$accent_dark_3;
            color: black;
            cursor: pointer;
        }
    }
}

.light {
    .Disclaimer {
        background-color: palette.$white_2;
        border: 1px solid palette.$black_5;
        img {
            background-color: black;
        }
        a.contact-link {
            color: black;
            background-color: palette.$white_3;
            border-color: palette.$accent_dark_3;
            &:hover {
                background-color: palette.$white_4;
            }
        }
    }
}
