@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/palette.scss' as palette;
@use '../../../styles/font_sizes.scss' as font;

.Footer {
    position: relative;
    padding: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 0;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    background-color: palette.$black_1;
    align-items: center;
    @include bp.md {
        margin-bottom: 0;
        z-index: 50;
    }
    .logo-wrapper {
        height: 70px;
        width: 70px;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.05);
        border: 2px solid palette.$black_2;
        img {
            height: 50px;
        }
    }
    .name {
        margin-bottom: 1.5rem;
        color: palette.$white_5;
        font-size: 1.8rem;
        letter-spacing: 0;
        span {
            font-family: 'Roboto_Bold';
            font-variant: small-caps;
        }
        span:last-child {
            color: palette.$black_3;
        }

        span:last-child {
            color: palette.$black_4;
        }
    }
    ul {
        padding: 1.5rem 0;
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        color: palette.$white_3;
        border-top: 1px solid palette.$black_2;
        border-bottom: 1px solid palette.$black_2;
        @include bp.md {
            width: 50%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
    }
    a,
    .link,
    li {
        color: inherit;
        text-decoration: inherit;
        margin-bottom: 1rem;
        @include bp.md {
            font-size: font.$font_md;
        }
    }
    .link-list {
        margin-left: 0;
        @include bp.md {
            padding-top: 3rem;
        }
    }
    .link-list > * {
        @include bp.md {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    }
    li:hover {
        color: white;
        transform: scale(1.1);
    }
    li:last-child {
        margin-bottom: 0;
    }
    .separator {
        display: none;
        @include bp.md {
            font-size: font.$font_lg;
            font-weight: bold;
            color: palette.$black_2;
            display: inline;
            margin-bottom: 1.25rem;
        }
    }
    .social-links {
        margin: 0 0 3rem 0rem;
        padding-top: 1.5rem;
        display: flex;
        justify-content: center;
        font-size: font.$font_lg;

        & > * {
            margin: 0 0.5rem;
            color: palette.$black_3;
            cursor: pointer;
        }
        & > *:hover {
            color: white;
        }
    }
    .languages {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-variant: small-caps;
        font-size: font.$font_lg;
        font-family: 'Roboto_Bold';
        color: palette.$black_2;
        a {
            margin: 0 0.5rem;
            margin-bottom: 0;
            font-family: 'Roboto_Bold';
            color: palette.$black_3;
        }
        a.active {
            color: palette.$white_4;
        }
        a:hover {
            color: white;
            cursor: pointer;
        }
    }
    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        color: palette.$black_5;
        font-family: monospace;
        font-size: font.$font_md;
        & * {
            margin: 0 5px;
            font-family: monospace;
            font-size: font.$font_md;
        }
        .copyright__icon {
            fill: palette.$gray_1;
        }
        time {
            color: palette.$gray_1;
            font-size: font.$font_xs;
            font-family: 'Roboto_Bold';
        }
        .copyright__pipe {
            margin-right: 10px;
        }
    }
    .hide {
        display: none;
    }
    .additional-info p {
        margin-top: 1.5rem;
        font-family: monospace;
        color: palette.$black_4;
        font-size: font.$font_md;
    }
}

.light {
    .Footer {
        background-color: palette.$white_2;
        &:hover {
            color: black;
        }
        a,
        .link,
        li {
            color: black;
        }
        .logo-wrapper {
            background-color: palette.$accent_dark_2;
        }
        .social-links > * {
            color: palette.$black_5;
        }
        .social-links > *:hover {
            color: black;
        }
        .languages {
            color: palette.$white_5;
            a {
                color: palette.$black_5;
            }
            a.active {
                color: palette.$black_2;
            }
            a:hover {
                color: black;
            }
        }
    }
}
