@use "../../styles/breakpoints.scss" as bp;
@import "../../styles/palette.scss";
@import "../../styles/font_sizes.scss";
@import "../../styles/animations.scss";

aside.blog-component--article {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: $black_1;
    bottom: 0;
    z-index: 100;
    .aside-icon {
        margin: 1.5rem 0;
        color: $black_5;
        font-size: $font-lg;
        &:hover {
            color: white;
            transform: scale(1.1);
            cursor: pointer;
        }
    }
    @include bp.md {
        width: 50px;
        height: 80vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: 3rem;
        background-color: transparent;
        .aside-icon {
            margin: 1rem 0;
            color: $black_5;
            font-size: $font-xl;
            &:hover {
                color: white;
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}
// Every common blog style here
.blog-component {
    h1 {
        font-variant: small-caps;
        font-weight: normal;
    }
    article { 
        margin: 0;
        padding: 0;
    }
    h2 {
        text-align: center;
    }
    h3 {
        margin: 3rem 0;
        color: $white_2;
        font-size: $font_lg;
        font-family: Roboto_Bold;
        font-variant: small-caps;
    }
    img.image--lrg {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
    
    img.image--med {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: block;
    }
    
    img.bg--white {
        background-color: white;
    }
    
    a.inline {
        color: $accent_dark_2;
    }
    
    strong.bold {
        font-family: "Roboto_Bold";
    }
    
    p {
        @include bp.xl {
            text-align: justify;
        }
    }
    
    .code {
        margin: 0 auto;
        max-width: 1200px;
        background-color: $black_1 !important;
        border: 1px solid $black_3;
        span {
            font-family: monospace !important;
            font-size: $font_md;
            @include bp.lg {
                font-size: $font_lg;
            }
        }
    }
    
    .button {
        width: 100%;
        max-width: 400px;
        height: 3em;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $accent_dark_3;
        color: $black_1;
        border: 3px solid $black_3;
        border-radius: 100px;
        font-size: $font_md;
        font-family: "Roboto_Bold";
        text-decoration: none;
        cursor: pointer;
        & > * {
            margin-left: 0.5rem;
            font-size: 1.5rem;
            @include bp.lg {
                margin-left: 1rem;
                font-size: 2rem;
            }
        }
    
        @include bp.md {
            width: 40%;
        }
        @include bp.lg {
            font-size: $font_lg;
        }
    }
}

.light {
    h3 {
        color: $black_2;
    }
    aside {
        * {
            color: $white_5;
        }
    }
}