@use "../../styles/breakpoints.scss" as bp;
@import "../../styles/palette.scss";
@import "../../styles/font_sizes.scss";
@import "../../styles/animations.scss";

.Menu {
    position: sticky;
    top: 5rem;
    height: calc(100vh - 5rem);
    width: 100%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    background-color: $black_1;
    color: $white_3;
    font-size: $font_lg;
    list-style: none;
    z-index: 10000;

    @include bp.md {
        display: none;
    }

    li:nth-child(1) { animation-delay: 0ms, 0ms; animation-name: from_above, fade_in; }
    li:nth-child(2) { animation-delay: 100ms, 100ms; animation-name: from_above, fade_in; }
    li:nth-child(3) { animation-delay: 200ms, 200ms; animation-name: from_above, fade_in; }
    li:nth-child(4) { animation-delay: 300ms, 300ms; animation-name: from_above, fade_in; }
    li:nth-child(5) { animation-delay: 400ms, 400ms; animation-name: from_above, fade_in; }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2.5rem;
        cursor: pointer;
        opacity: 0;
        animation-timing-function: ease-in, ease-out;
        animation-duration: 500ms, 500ms;
        animation-fill-mode: forwards, forwards;
    }

    li > * {
        cursor: pointer;
    }

    li.active {
        color: white;
    }

    .link {
        color: inherit;
        text-decoration: inherit;
    }
    .active .link {
        font-family: "Roboto_Bold";
    }
    .social-links {
        margin-top: auto;
        margin-bottom: 5rem;
        padding-top: 3rem;
        display: flex;
        justify-content: center;
        font-size: $font_md;
        color: $black_5;
        cursor: pointer;
    }

    .social-links > * {
        margin: 0 0.5rem;
    }
}

.light .Menu {
    background-color: $white_2;
    color: $black_2;

    li.active {
        color: black;
    }
}

