@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/palette.scss' as palette;
@use '../../../styles/font_sizes.scss' as font;

.sound-btn-wrapper {
    width: 100%;
    max-height: 50vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        padding: 0.5rem 1rem;
        background-color: palette.$black_1;
        border: 2px solid palette.$gray_1;
        border-radius: 50px;
        color: white;
        font-size: font.$font_lg;
        cursor: pointer;
        span {
            margin-right: 0.5rem;
            color: palette.$accent_dark_2;
        }
    }
}
