@use '../../../styles/palette.scss' as palette;

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 65;
    background-color: palette.$black_2;
    & * {
        max-width: 100vw;
        max-height: 100vh;
    }
}

.light .Overlay {
    background-color: palette.$white_1;
}
