.sound-btn-wrapper {
    margin-bottom: 1.5rem;
    .btn {
        width: 100%;
        height: auto;
        span {
            margin-right: 0.5rem;
            color: var(--accent-dark-2);
        }
    }
}
