@use "../../styles/breakpoints.scss" as bp;
@import "../../styles/palette.scss";
@import "../../styles/font_sizes.scss";

.SubNav {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black_5;
    font-size: $font_lg;
    padding: 0 1.5rem;
    @include bp.sm {
        padding: 0 2rem;
    }
    @include bp.lg {
        padding: 0 4rem;
    }

    .sublogo {
        color: $black_3;

        .sublogo-text {
            display: none;
            color: $white_5;
            font-size: $font_sm;
            letter-spacing: 0;
            font-style: italic;

            @include bp.lg {
                display: inline;
            }
        }
    }

    .social-links {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        cursor: pointer;
    }

    .theme-toggle {
        display: none;
        @include bp.md {
            display: flex;
        }
    }

    .theme-icon {
        height: 1.5rem;
        color: $white_3;
    }

    .social-links > * {
        align-items: center;
        margin-left: 0.5rem;
        font-size: $font_lg;
        color: $black_3;
        @include bp.md {
            margin-left: 1.5rem;
        }

        &:hover {
            color: white;
        }
    }
}

.light .SubNav {
    color: black;
    .sublogo-text {
        color: $black_5;
    }
    .social-links > * {
        color: $white_5;
        &:hover {
            color: black;
        }
    }
    .theme-icon {
        color: $black_1;
    }
}