@use '../../../../../styles/palette.scss' as palette;

.Editor {
    .Editor__content {
        position: relative;
        background-color: palette.$black_x;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .Editor__word {
            display: inline-block;
            white-space: nowrap;
        }
    }
    .Editor__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: center;
        color: palette.$accent;
        font-size: 1.5rem;
        font-weight: bold;
        backdrop-filter: blur(3px);
    }
}
