@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/palette.scss' as palette;
@use '../../../styles/font_sizes.scss' as font;
@use '../../../styles/animations.scss' as animations;

.AchievementListItem {
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    color: palette.$white_1;
    border-bottom: 1px solid palette.$black_3;
    cursor: pointer;

    @include bp.md {
        padding: 1rem;
    }

    &:last-child {
        border-color: transparent;
    }

    &:hover {
        background-color: palette.$black_1;
        border-color: palette.$black_3;
    }

    &:hover .AchievementListItem__view {
        color: palette.$accent_dark_2;
    }

    span {
        font-size: font.$font_sm;
        @include bp.sm {
            font-size: font.$font_md;
        }
    }

    img {
        width: 70px;
        height: 70px;
        margin-right: 1rem;
        border: 1px solid palette.$black_5;
        border-radius: 100%;
    }

    .AchievementListItem__title {
        font-weight: bold;
    }

    .AchievementListItem__detail,
    .AchievementListItem__year {
        color: palette.$white_3;
        font-style: italic;
    }

    .AchievementListItem__year {
        color: palette.$white_5;
    }

    .AchievementListItem__view {
        margin-left: 0.5rem;
        color: palette.$black_3;
        font-size: 30px;

        @include bp.md {
            margin-left: auto;
        }
    }

    .AchievementListItem__hover-text {
        position: absolute;
        display: none;
        right: 0;
        padding: 0.5rem 1.5rem;
        bottom: -1rem;
        background-color: palette.$black_1;
        color: palette.$accent_dark_3;
        font-size: font.$font_sm;
        border: 1px solid palette.$black_3;
        border-radius: 1rem;
    }

    &:hover .AchievementListItem__hover-text {
        @include bp.md {
            display: block;
        }
    }
}

.light {
    .AchievementListItem {
        border-bottom: 1px solid palette.$white_3;
        color: palette.$black_1;

        &:last-child {
            border-color: transparent;
        }

        &:hover {
            background-color: palette.$white_2;
            border-color: palette.$white_3;
        }

        .AchievementListItem__detail {
            color: palette.$black_3;
        }

        .AchievementListItem__year {
            color: palette.$black_5;
        }

        .AchievementListItem__view {
            color: palette.$black_5;
        }

        &:hover .AchievementListItem__view {
            color: palette.$accent_dark_3;
        }

        .AchievementListItem__hover-text {
            background-color: palette.$white_2;
            border-color: palette.$white_3;
        }
    }
}
