/* Base MobileMenu styles */
.MobileMenu {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 4rem);
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--black-1);
    color: var(--white-3);
    font-size: 1.1em;
    list-style: none;
    z-index: 90;
    overflow: hidden;
    user-select: none;
}

@media (min-width: 768px) {
    .MobileMenu {
        display: none;
    }
}

.MobileMenu__items {
    display: flex;
    flex-direction: column;
}

.MobileMenu__extras {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MobileMenu .social-links {
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    color: var(--black-5);
    cursor: pointer;
}

.MobileMenu .social-links > * {
    margin: 0 0.5rem;
    color: inherit;
}

.MobileMenu .social-links a:visited {
    color: inherit;
}

.MobileMenu li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    font-variant: small-caps;
    opacity: 0;
    animation-timing-function: ease-in, ease-out;
    animation-duration: 500ms, 500ms;
    animation-fill-mode: forwards, forwards;
    cursor: pointer;
}

.MobileMenu li > * {
    cursor: pointer;
}

.MobileMenu li.active {
    color: white;
}

.MobileMenu li.active .link {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.MobileMenu a,
.MobileMenu .link {
    color: inherit;
    text-decoration: inherit;
}

.MobileMenu a:hover,
.MobileMenu .link:hover {
    color: white;
    transform: scale(1.1);
}

/* Staggered animations */
.MobileMenu li:nth-child(1) {
    animation-delay: 0ms, 0ms;
    animation-name: from_above, fade_in;
}
.MobileMenu li:nth-child(2) {
    animation-delay: 100ms, 100ms;
    animation-name: from_above, fade_in;
}
.MobileMenu li:nth-child(3) {
    animation-delay: 200ms, 200ms;
    animation-name: from_above, fade_in;
}
.MobileMenu li:nth-child(4) {
    animation-delay: 300ms, 300ms;
    animation-name: from_above, fade_in;
}
.MobileMenu li:nth-child(5) {
    animation-delay: 400ms, 400ms;
    animation-name: from_above, fade_in;
}
.MobileMenu li:nth-child(6) {
    animation-delay: 500ms, 500ms;
    animation-name: from_above, fade_in;
}
.MobileMenu li:nth-child(7) {
    animation-delay: 600ms, 600ms;
    animation-name: from_above, fade_in;
}
.MobileMenu li:nth-child(8) {
    animation-delay: 700ms, 700ms;
    animation-name: from_above, fade_in;
}
.MobileMenu li:nth-child(9) {
    animation-delay: 800ms, 800ms;
    animation-name: from_above, fade_in;
}

/* Portfolio variant */

/* Portfolio light theme */
.light .MobileMenu--portfolio {
    background: linear-gradient(315deg, var(--white-2) 40%, var(--white-1) 70%);
    color: var(--black-2);
}

.light .MobileMenu--portfolio li {
    color: var(--black-5);
}

.light .MobileMenu--portfolio li.active {
    color: black;
}

.light .MobileMenu--portfolio a:hover,
.light .MobileMenu--portfolio .link:hover {
    color: black;
}

/* API variant */
.MobileMenu--api {
    justify-content: space-between;
}

.MobileMenu--api li:hover,
.MobileMenu--api li *:hover {
    color: var(--accent-dark-3) !important;
}

.MobileMenu--api li {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    text-shadow:
        black 2px 2px 2px,
        var(--black-3) -1px -1px 1px;
}

.MobileMenu--api .link {
    position: relative;
}

.MobileMenu--api .chevron-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    right: -1.6rem;
    color: var(--black-4);
}

/* API light theme */
.light .MobileMenu--api {
    background: linear-gradient(315deg, var(--white-2) 40%, var(--white-1) 70%);
    color: var(--black-2);
}

.light .MobileMenu--api li {
    color: var(--black-5);
    text-shadow: none;
}

.light .MobileMenu--api li.active {
    color: black;
}

.light .MobileMenu--api li:hover,
.light .MobileMenu--api li *:hover {
    color: var(--accent-dark-4) !important;
}

.light .MobileMenu--api .chevron-wrapper {
    color: var(--gray-3);
}
