.ProjectFilter {
    .ProjectFilter__pill--dimmed {
        opacity: 0.3;
    }

    .ProjectFilter__groups {
        width: 100%;
        flex-grow: 1;
    }

    .ProjectFilter__group-pills {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .Pill {
        font-variant: small-caps;
    }
}
