@use "../../styles/breakpoints.scss" as bp;
@import "../../styles/palette.scss";
@import "../../styles/font_sizes.scss";

.Welcome {
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1.5em 0 1.5em;
    @include bp.sm {
        padding: 2em 2em 0 2em;
    }

    h1 {
        font-family: Helvetica_Ultra_light;
        font-size: $font_md;
        color: $white_5;

        @include bp.sm {
            font-size: $font_lg;
        }
        @include bp.md {
            font-size: $font_xl;
        }
    }
    
    img {
        margin-top: 3rem;
        height: 37vh;
        border-radius: 100%;
        filter: grayscale(1);
        opacity: 0.5;
        @include bp.md {
            height: 50vh;
        }
        @include bp.lg {
            height: 50vh;
        }
    }

    .welcome-links {
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: $black_5;
        font-size: $font_lg;
        & > * {
            margin-left: 1.5rem;
            @include bp.sm {
                margin-left: 2rem;    
            }
        }
    }
    
    .hero {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white_3;
        font-size: $font_md;

        @include bp.sm {
            font-size: $font_lg;
        }
        @include bp.md {
            font-size: $font_lg;
        }
        @include bp.lg {
            border: 1px solid greenyellow;
            font-size: $font_lg;
        }
        @include bp.xl {
            border: 1px solid green;
            font-size: $font_lg;
        }
    }
}