.Welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    img {
        width: 30vw;
        border-radius: 100%;
    }
}