@use "../../styles/breakpoints.scss" as bp;
@import "../../styles/palette.scss";
@import "../../styles/font_sizes.scss";

.Welcome {
    height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em 1.5em 0 1.5em;
    @include bp.sm {
        padding: 2em 2em 0 2em;
    }
    @include bp.lg {
        padding: 2em 3em 0 3em;
    }

    h1 {
        font-size: $font_md;
        color: $white_5;
        margin-top: 3rem;
        margin-bottom: 3rem;

        @include bp.sm {
            font-size: $font_lg;
        }
        @include bp.md {
            font-size: $font_xl;
        }
    }
    
    img {
        height: 37vh;
        border-radius: 100%;
        filter: grayscale(1);
        opacity: 0.5;
        @include bp.md {
            height: 50vh;
        }
        @include bp.lg {
            height: 50vh;
        }
    }
}

.light .Welcome img {
    opacity: 1;
}