@use '../../../../styles/breakpoints.scss' as bp;
@use '../../../../styles/palette.scss';
@use '../../../../styles/font_sizes.scss';
@use '../../../../styles/animations.scss';

.Tasks {
    .form-container {
        margin: 0.5rem;
        @include bp.md {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0;
        }
        form {
            max-width: 1000px;
        }
    }
}
