.Code {
    margin: var(--space-16) auto;
    max-width: 1200px;
    background-color: var(--black-1);
    font-family: 'Fira', monospace;
    font-size: var(--font-xs);
    padding: var(--space-12);
    background: var(--black-x);
    border-radius: var(--panel-radius);
    border: var(--panel-border);
    box-shadow: var(--panel-shadow);
}

.Code__header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 7px;
    border-bottom: 1px solid var(--black-2);
}

.Code__file-name {
    margin-right: 10px;
    color: var(--white-5);
}

.Code__language {
    font-style: italic;
    color: var(--accent-dark-3);
}

.Code__copy-icon {
    margin-left: auto;
    color: var(--accent-dark-3);
    font-size: 24px;
    cursor: pointer;
}

.Code__copy-icon:hover {
    color: var(--accent);
}

.Code__copy-message {
    position: absolute;
    right: 70px;
    margin-left: auto;
    color: var(--accent);
    background-color: #191b21;
    animation: fade_out 2s linear;
}

/* Fix Up SyntaxHighlighter Library Errors when it Skips Styling */
.Code span,
.Code pre code {
    font-family: 'Fira', monospace;
    font-size: var(--font-xs);
    background: var(--black-x);
}

@media (min-width: 992px) {
    .Code span,
    .Code pre code {
        font-size: var(--font-sm);
    }
}

.Code pre {
    max-height: 150vh;
    overflow: auto;
    background: var(--black-x);
    scrollbar-color: var(--accent-dark-3) var(--black-1);
    scrollbar-width: thin;
}

.Code pre::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.Code pre::-webkit-scrollbar-track {
    background: var(--black-x);
}

.Code pre::-webkit-scrollbar-thumb {
    background: var(--accent-dark-3);
}

.Code pre::-webkit-scrollbar-thumb:hover {
    background: var(--accent-dark-1);
}

@keyframes fade_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
