@use '../../../../../../styles/palette.scss' as palette;

.LetterBox {
    width: 24px;
    min-width: 24px;
    height: 24px;
    min-height: 24px;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 900;
    background-color: black;
    color: palette.$white_5;
    border: 1px solid palette.$black_5;

    &.proficiency-extreme {
        background-color: palette.$accent;
        color: palette.$accent_dark_5;
        border: 1px solid palette.$accent_dark_5;
    }

    &.proficiency-outstanding {
        background-color: palette.$success;
        color: palette.$success_dark_5;
        border: 1px solid palette.$success_dark_5;
    }
    &.proficiency-high {
        background-color: palette.$yellow;
        color: palette.$yellow_dark_5;
        border: 1px solid palette.$yellow_dark_5;
    }
    &.proficiency-moderate {
        background-color: palette.$orange;
        color: palette.$orange_dark_5;
        border: 1px solid palette.$orange_dark_5;
    }
    &.proficiency-low {
        background-color: palette.$error;
        color: palette.$error_dark_5;
        border: 1px solid palette.$error_dark_5;
    }
}
