@use "../../styles/breakpoints.scss" as bp;
@import "../../styles/palette.scss";
@import "../../styles/font_sizes.scss";
@import "../../styles/animations.scss";

.Code {
    margin: 0 auto;
    max-width: 1200px;
    background-color: $black_1 !important;
    border: 1px solid $black_3;
    font-family: monospace !important;
    span {
        font-family: monospace !important;
        font-size: $font_md;
        @include bp.lg {
            font-size: $font_lg;
        }
    }
    .Code__header {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #191b21;
        padding: 7px;
        border-bottom: 2px solid $black_3;
        .Code__file-name {
            margin-right: 10px;
            color: $white_5;
        }
        .Code__language {
            font-style: italic;
            color: $accent_dark_3;
        }   
        .Code__copy-icon {
            margin-left: auto;
            color: $white_5;
            font-size: 24px;
            cursor: pointer;
            &:hover {
                color: white;
            }
        }
        .Code__copy-message {
            position: absolute;
            right: 70px;
            margin-left: auto;
            color: $accent;
            background-color: #191b21;
            animation: fade_out 2s linear;
        }
    }
}
