@use "../../../styles/breakpoints.scss" as bp;
@import "../../../styles/palette.scss";
@import "../../../styles/font_sizes.scss";
@import "../../../styles/animations.scss";

.AchievementList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}