@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/palette.scss';
@use '../../../styles/font_sizes.scss';
@use '../../../styles/animations.scss';

.AchievementList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
