.level-creator-modal .level-preview {
  width: 100%;
  height: 55vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.level-preview div.column {
  max-width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
}

.level-preview div.column div.word {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  padding: 5px;
}

.level-preview div.column div.word .letter {
  margin: 0 2px;
  padding: 2px;
  min-width: 20px;
  text-align: center;
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  border: var(--border-normal);
}
