@use "../../../styles/breakpoints.scss" as bp;
@import "../../../styles/palette.scss";
@import "../../../styles/font_sizes.scss";
@import "../../../styles/animations.scss";

.ZoomedImage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    img {
        padding: 0;
        object-fit: contain;
        @include bp.md {
            padding: 1.5rem;
        }
    }
}