@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/palette.scss' as palette;
@use '../../../styles/font_sizes.scss' as font;

.Breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    & * {
        color: palette.$black_5;
    }
    & > * {
        margin: 0 5px;
        font-family: monospace;
        font-size: font.$font_md;
    }
    .Breadcrumb__icon {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: font.$font_md;
    }
    .Breadcrumb__icon--house:hover {
        fill: palette.$white_1;
        cursor: pointer;
    }
    .Breadcrumb__visits {
        color: palette.$accent_dark_3;
    }
    .Breadcrumb__path {
        font-family: monospace;
        font-size: font.$font_sm;
    }
    .Breadcrumb__path:hover {
        color: palette.$white_3;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }
}

.light {
    & > * {
        color: palette.$black_5;
    }
    .Breadcrumb__icon--house:hover {
        color: palette.$black_2;
    }
    .Breadcrumb__path:hover {
        color: palette.$black_2;
    }
}
