@use "../../../styles/breakpoints.scss" as bp;
@import "../../../styles/palette.scss";
@import "../../../styles/font_sizes.scss";

.Breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    & * {
        color: $black_5;
    }
    & > * {
        margin: 0 5px;
        font-family: monospace;
        font-size: $font_md;
    }
    .Breadcrumb__icon {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font_md;
    }
    .Breadcrumb__icon--house:hover {
        fill: $white_1;
        cursor: pointer;
    }
    .Breadcrumb__visits {
        color: $accent_dark_3;
    }
    .Breadcrumb__path {
        font-family: monospace;
        font-size: $font_sm;
    }
    .Breadcrumb__path:hover {
        color: $white_3;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }
}

.light {
    & > * {
        color: $black_5;
    }
    .Breadcrumb__icon--house:hover {
        color: $black_2;
    }
    .Breadcrumb__path:hover {
        color: $black_2;
    }
}