// Black Shades
$black_x: #0a0a0a;
$black_1: #111;
$black_2: #222;
$black_3: #333;
$black_4: #444;
$black_5: #555;

// Gray Shades
$gray_1: #666;
$gray_2: #777;
$gray_3: #888;
$gray_4: #999;

// White Shades
$white_1: #eee;
$white_2: #d8d8d8;
$white_3: #bbb;
$white_4: #a8a8a8;
$white_5: #888;

// Accent Shades
$accent: #00ffff;
$accent_dark_1: #00cece;
$accent_dark_2: #00b5b5;
$accent_dark_3: #007676;
$accent_dark_4: #005151;
$accent_dark_5: #003434;

// Error Shades
$error: #ff0080;
$error_dark_1: #e80074;
$error_dark_2: #bd015f;
$error_dark_3: #870043;
$error_dark_4: #530029;
$error_dark_5: #3a001d;

// Success Shades
$success: #00e676;
$success_dark_1: #00d06b;
$success_dark_2: #00bd61;
$success_dark_3: #009624;
$success_dark_4: #006400;
$success_dark_5: #003200;

// Warning Shades
$yellow: #ffd740;
$yellow_dark_1: #e9b300;
$yellow_dark_2: #d09100;
$yellow_dark_3: #c17a00;
$yellow_dark_4: #844b01;
$yellow_dark_5: #4c2100;

// Orange Shades
$orange: #ff8000;
$orange_dark_1: #e67300;
$orange_dark_2: #bf6600;
$orange_dark_3: #994d00;
$orange_dark_4: #733300;
$orange_dark_5: #4d1a00;

// Purple Shades
$purple: #e040fb;
$purple_dark_1: #c43de2;
$purple_dark_2: #a338c2;
$purple_dark_3: #7f2f99;
$purple_dark_4: #5b2370;
$purple_dark_5: #3b1748;
