// Black Shades
$black_1: #111;
$black_2: #222;
$black_3: #333;
$black_4: #444;
$black_5: #555;

// White Shades
$white_1: #EEE;
$white_2: #D8D8D8;
$white_3: #BBB;
$white_4: #A8A8A8;
$white_5: #888;

$accent: aquamarine;
$accent_dark_1: rgb(92, 184, 154);
$accent_dark_2: rgb(54, 112, 93);
$accent_dark_3: rgb(42, 86, 71);
$accent_dark_4: rgb(41, 82, 68);
$accent_dark_5: rgb(14, 28, 23);
