.SubNav {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-1);
    font-size: 1.1em;
}

@media (min-width: 768px) {
    .SubNav {
        display: flex;
        padding: 0 1.2rem;
    }
}

@media (min-width: 992px) {
    .SubNav {
        padding: 0 1.5rem;
    }
}

.SubNav .sublogo {
    color: var(--black-3);
}

.SubNav .sublogo .sublogo-text {
    display: none;
    color: var(--gray-3);
    font-size: 1.4rem;
    letter-spacing: 0;
}

@media (min-width: 992px) {
    .SubNav .sublogo .sublogo-text {
        display: inline;
    }
}

.SubNav .sublogo .sublogo-text span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-variant: small-caps;
}

.SubNav .sublogo .sublogo-text span:last-child {
    color: var(--black-4);
}

.SubNav .social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.SubNav .theme-toggle {
    display: none;
}

@media (min-width: 768px) {
    .SubNav .theme-toggle {
        display: flex;
    }
}

.SubNav .theme-icon {
    margin: var(--spacing-1);
    color: #bbb;
}

.SubNav .social-links > * {
    align-items: center;
    margin-left: 0.5rem;
    font-size: 1.2em;
    color: var(--black-3);
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));
}

@media (min-width: 768px) {
    .SubNav .social-links > * {
        margin-left: 1.5rem;
    }
}

.SubNav .social-links > *:hover {
    color: white;
}

/* Light theme */
.light .SubNav {
    color: black;
    background-color: white;
    border-bottom: 1px solid var(--white-3);
}

.light .SubNav .sublogo-text {
    color: var(--black-5);
}

.light .SubNav .social-links > * {
    color: var(--gray-3);
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.15));
}

.light .SubNav .social-links > *:hover {
    color: black;
}

.light .SubNav .theme-icon {
    color: var(--black-1);
}
