.session-header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.session-header-players {
    display: flex;
    flex: 1;
    width: 100%;
}

.session-header-player {
    display: flex;
    flex: 1;
}

.session-player-info-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding: var(--sp-sm);
    font-family: var(--font-main);
    font-size: var(--font-sm);
    font-weight: var(--font-bold);
}

.session-player-info-container .avatar {
    width: auto;
    height: 8vh;
    max-height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-bg-medium);
    margin: 0 var(--sp-sm);
    border-radius: 100%;
    border-width: 5px;
    border-style: solid;
}

.session-player-info-container.active .avatar {
    border-color: var(--color-font-success);
}

.session-player-info-container.opponent {
    flex-direction: row-reverse;
}

.session-player-info-container .session-player-info-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.session-player-info-container .player-points,
.session-player-info-container .player-label {
    font-size: var(--font-sm);
    font-weight: var(--font-bold);
}


.session-player-info-container.opponent .session-player-info-details {
    align-items: flex-end;
}

.session-player-info-container .session-player-info-details .player-label {
    color: var(--color-font-accent);
}

.session-player-info-container.opponent .session-player-info-details .player-label {
    color: var(--color-font-error);
}

.session-header .momentum-bar {
    width: 100%;
    height: 5px;
    display: flex;
    background-color: var(--color-bg-medium);
    border-radius: 5px;
}

.session-header .momentum-bar .momentum-bar-fill {
    height: 100%;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

.session-header .momentum-bar .momentum-bar-fill.player {
    background-color: var(--color-font-accent);
}

.session-header .momentum-bar .momentum-bar-fill.opponent {
    background-color: var(--color-font-error);
}