@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/palette.scss' as palette;
@use '../../../styles/font_sizes.scss' as font;
@use '../../../styles/animations.scss' as animations;

.Figure {
    margin: 0 auto;
    padding: 0;
    div {
        position: relative;
        width: auto;
        max-width: 100%;
        max-height: calc(100% - 10px);

        .Figure__icon {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            margin: 0;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: palette.$white_3;
            font-size: font.$font_xl;
        }
        &:hover {
            background-color: black;
            color: white;
        }

        img {
            max-width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            display: block;
            object-fit: contain;
        }

        img.bg--white {
            background-color: white;
        }
        &:hover {
            cursor: pointer;
            .Figure__icon {
                background-color: palette.$black_1;
            }
        }
    }
    div.image--lrg {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }

    div.image--med {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: block;
    }

    div.image--sml {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        display: block;
    }

    div.guitar {
        max-width: 500px;
        background-color: palette.$white_3;
        img {
            max-width: 500px;
            width: 100%;
        }
    }
    div.bg--white {
        background-color: white;
    }
}

.light {
    .Figure {
        .Figure__icon {
            color: white;
        }
    }
}

.Figure__icon--close {
    position: absolute;
    margin: 1.5rem;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: palette.$white_3;
    font-size: font.$font_xl;
    cursor: pointer;
    &:hover {
        background-color: black;
        color: white;
    }
}
