@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/palette.scss' as palette;
@use '../../../styles/font_sizes.scss' as font;
@use '../../../styles/animations.scss' as animations;

.Code {
    margin: 0 auto;
    max-width: 1200px;
    background-color: palette.$black_1;
    border: 1px solid palette.$black_3;
    font-family: 'Fira', monospace;

    // Fix Up SyntaxHighlighter Library Errors when it Skips Styling
    span,
    pre code {
        font-family: 'Fira', monospace;
        font-size: font.$font_sm;
        @include bp.lg {
            font-size: 1.2rem;
        }
    }
    pre {
        max-height: 150vh;
        overflow: auto;
    }
    .Code__header {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #191b21;
        padding: 7px;
        border-bottom: 2px solid palette.$black_3;
        .Code__file-name {
            margin-right: 10px;
            color: palette.$white_5;
        }
        .Code__language {
            font-style: italic;
            color: palette.$accent_dark_3;
        }
        .Code__copy-icon {
            margin-left: auto;
            color: palette.$white_5;
            font-size: 24px;
            cursor: pointer;
            &:hover {
                color: white;
            }
        }
        .Code__copy-message {
            position: absolute;
            right: 70px;
            margin-left: auto;
            color: palette.$accent;
            background-color: #191b21;
            animation: fade_out 2s linear;
        }
    }
}
