@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/palette.scss' as palette;

.InlineReference {
    height: 100%;
    margin: 0 0.25rem;
    display: inline-block;
    transform: translateY(-2px);
    color: palette.$accent_dark_3;
    text-decoration: none;
    font-family: monospace;
    &:hover {
        color: palette.$accent_dark_1;
        transform: scale(1.05) translateY(-2px);
    }

    @include bp.sm {
        margin: 0 0.5rem;
        transform: translateY(-3px);
        &:hover {
            transform: scale(1.05) translateY(-3px);
        }
    }
}
