.Page {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding-top: 4rem;
    transition: padding-top 200ms ease;
}

@media (min-width: 768px) {
    .Page {
        padding-top: 4rem;
    }

    .Page.Page--submenu-open {
        padding-top: 8rem;
    }
}
