@use '../../../../styles/breakpoints.scss' as bp;
@use '../../../../styles/palette.scss';
@use '../../../../styles/font_sizes.scss';
@use '../../../../styles/animations.scss';

.GuestIndex {
    h2 {
        margin-bottom: 0;
    }
    .Xmass-welcome {
        width: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        p {
            min-width: 100%;
        }

        .Xmass-welcome-text {
            width: 100%;
            min-width: 50%;
        }

        .Xmass-welcome-image {
            width: 50%;
            min-width: 50%;
        }

        @include bp.xl {
            width: 100%;
            flex-direction: row;
            margin-bottom: 3rem;

            .Xmass-welcome-image {
                max-width: 400px;
                padding-left: 3rem;
            }
        }
    }
}
