@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/palette.scss' as palette;
@use '../../../styles/font_sizes.scss' as font;

.Toggle {
    width: 90px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: palette.$black_2;
    border: 2px solid palette.$black_5;
    cursor: pointer;

    .Toggle__thumb {
        height: 32px;
        width: 32px;
        border-radius: 100%;
        background: palette.$black_1;
        border: 3px solid palette.$black_5;
        cursor: pointer;
    }

    .Toggle__thumb:hover {
        border: 3px solid aqua;
    }
}

.light .Toggle {
    background-color: transparent;
    .Toggle__thumb {
        background-color: palette.$white_4;
    }
    .Toggle__thumb:hover {
        border: 3px solid palette.$black_1;
        background-color: palette.$accent_dark_3;
    }
}
