@use "../../../../../styles/breakpoints.scss" as bp;
@import "../../../../../styles/palette.scss";
@import "../../../../../styles/font_sizes.scss";

.SubmenuBasis {
    display: none;
    position: absolute;
    background-color: $black_1;
    padding: 1rem 2rem;
    list-style: none;
    flex-direction: column;
    border: 1px solid $black_2;
    box-shadow: 5px 5px 5px black;
    border-top: none;
    z-index: 100;
    transform: translateY(5vh);

    @include bp.md {
        display: flex;
    }

    li {
        position: relative;
        margin-bottom: 1rem;
        color: $white_5;
        font-size: $font_lg;
        cursor: pointer;
        opacity: 0;
        animation: 
            fade_in 200ms ease-out forwards,
            from_above 200ms ease-in;
    }

    li:last-child {
        margin-bottom: 0;
    }

    li.active, li:hover, li.extended {
        color: white;
        font-family: Roboto_Bold;
    }
    li.active:hover { transform: scale(1); }
    li:hover { transform: scale(1.1); }
    li:not(.active) .active-dot {
        display: none;
    }
    li .chevron {
        color: $white_5;
        height: 70%;
        transform: translateY(5px);
    }
    li:nth-child(1) { animation-delay: 100ms; }
    li:nth-child(2) { animation-delay: 200ms; }
    li:nth-child(3) { animation-delay: 300ms; }
    li:nth-child(4) { animation-delay: 400ms; }
    li:nth-child(5) { animation-delay: 500ms; }
    li:nth-child(6) { animation-delay: 600ms; }

    .link {
        color: inherit;
        text-decoration: inherit;
        font-variant: small-caps;
    }

    @include bp.md {
        font-size: 0.8rem;
    }
    @include bp.lg {
        font-size: 0.9rem;
    }

    .MenuAccordion {
        margin: 0;
        margin-top: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.2);
        list-style: none;
        border-left: 2px solid $black_2;
    
        li {
            margin-left: 1rem;
            padding: 0.1rem 0;
            @include bp.md {
                font-size: 1.4rem;
            }
            @include bp.lg {
                font-size: 1.4rem;
            }
        
        }
        
        span.active {
            color: white;
        }
    }
}
