.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .region__content {
        width: 100%;
    }

    .region--section {
        background-color: transparent;

        > .region__content {
            background-color: transparent;
        }
    }
}
