@use "../../../styles/breakpoints.scss" as bp;
@import "../../../styles/palette.scss";
@import "../../../styles/font_sizes.scss";

.Header {
    position: sticky;
    top: 0;
    height: 5rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black_1;
    z-index: 90;

    @include bp.sm {
        padding: 0 2rem;
    }
    @include bp.lg {
        padding: 0 4rem;
    }

    .burger {
        color: $white_5;
        font-size: $font_xl;
        cursor: pointer;

        @include bp.sm {
            font-size: $font_xx;
        }
    }

    .t-logo {
        height: 40px;
        width: 40px;
        padding: 5px;
        opacity: 0.7;
        border-radius: 100%;
        background-color: $accent_dark_3;
        opacity: 0;
        animation: 
            fade_in 200ms ease-out forwards,
            from_left 200ms ease-in;
        animation-delay: 500ms;
        cursor: pointer;

        @include bp.sm {
            height: 50px;
            width: 50px;
        }
        @include bp.md {
        
        }
    }

    .burger {
        opacity: 0;
        animation: 
            fade_in 200ms ease-out forwards,
            from_left 200ms ease-in;
        animation-delay: 1000ms;
        @include bp.md {
            display: none;
        }
    }

    .nav_links {
        display: none;
        list-style: none;
        font-variant: small-caps;
        @include bp.md {
            display: flex;
        }

        li {
            position: relative;
            margin-left: 2rem;
            color: $white_5;
            font-size: $font_lg;
            cursor: pointer;
            opacity: 0;
            animation: 
                fade_in 200ms ease-out forwards,
                from_above 200ms ease-in;
        }

        li.active, li:hover {
            color: white;
            font-family: Roboto_Bold;
        }
        li.active:hover { transform: scale(1); }
        li:hover { transform: scale(1.1); }
        li:not(.active) .active-dot {
            display: none;
        }
        li:nth-child(1) { animation-delay: 500ms; }
        li:nth-child(2) { animation-delay: 600ms; }
        li:nth-child(3) { animation-delay: 700ms; }
        li:nth-child(4) { animation-delay: 800ms; }
        li:nth-child(5) { animation-delay: 900ms; }
        li:nth-child(6) { animation-delay: 1000ms; }

        .link {
            color: inherit;
            text-decoration: inherit;
        }
    }

    .active-dot {
        display: none;
        @include bp.md {
            position: absolute;
            bottom: -8px;
            left: 50%;
            display: block;
            width: 6px;
            height: 6px;
            background-color: white;
            border-radius: 100%;
        }
    }
}

.light .Header {
    background-color: white;   
    .burger {
        color: $black_1;
    }

    .t-logo {
        background-color: $black_1;
        opacity: 1;
    }

    .nav_links {
        li {
            color: black;
        }
        li.active {
            font-family: Roboto_Bold;
        }
    }
    .active-dot {
        background-color: black;
    }
}