.session * {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

.session {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: var(--color-font-light);
  font-family: var(--font-main);
  font-size: var(--font-sm);
  font-weight: var(--font-thin);
  touch-action: none;
  overscroll-behavior: none;
}

.session > .app {
    position: relative;
    height: min(750px, 100vh);
    width: min(500px, 100vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-dark);
    border: var(--border-normal);
}

.session > .app:fullscreen,
.session > .app:-webkit-full-screen,
.session > .app:-moz-full-screen {
    height: min(750px, 100vh);
    width: min(500px, 100vw);
    max-width: 500px;
    max-height: 750px;
}