.session * {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

.session {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: var(--color-font-light);
  font-family: var(--font-main);
  font-size: var(--font-sm);
  font-weight: var(--font-thin);
  touch-action: none;
  overscroll-behavior: none;
}

.session > .app {
    position: relative;
    height: min(750px, 100vh);
    width: min(500px, 100vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-dark);
    border: var(--border-normal);
}

.session > .app:fullscreen,
.session > .app:-webkit-full-screen,
.session > .app:-moz-full-screen {
    height: min(750px, 100vh);
    width: min(500px, 100vw);
    max-width: 500px;
    max-height: 750px;
}

.session-header {
    width: 100%;
    height: 75px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-normal);
}

.session-header-player {
    display: flex;
}

.session-player-info {
    display: flex;
    align-items: center;
    padding: var(--sp-sm);
    font-family: var(--font-main);
    font-size: var(--font-sm);
    font-weight: var(--font-bold);
}

.session-player-info .avatar {
    width: auto;
    height: 8vh;
    max-height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-bg-medium);
    margin: 0 var(--sp-sm);
    border-radius: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-font-medium);
}

.session-player-info.opponent {
    flex-direction: row-reverse;
}

.session-player-info.active .avatar {
    border-color: rgb(69, 251, 151);
}

.session-game {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}