.session * {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

.session {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: var(--color-font-light);
  font-family: var(--font-main);
  font-size: var(--font-sm);
  font-weight: var(--font-thin);
  touch-action: none;
  overscroll-behavior: none;
}

.session > .app {
    position: relative;
    height: min(750px, 100vh);
    width: min(500px, 100vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-dark);
    border: var(--border-normal);
}

.session > .app:fullscreen,
.session > .app:-webkit-full-screen,
.session > .app:-moz-full-screen {
    height: min(750px, 100vh);
    width: min(500px, 100vw);
    max-width: 500px;
    max-height: 750px;
}

.session-header {
    width: 100%;
    height: 75px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-normal);
}

.session-header-player {
    display: flex;
}

.session-player-info {
    display: flex;
    align-items: center;
    padding: var(--sp-sm);
    font-family: var(--font-main);
    font-size: var(--font-sm);
    font-weight: var(--font-bold);
}

.session-player-info .avatar {
    width: auto;
    height: 8vh;
    max-height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-bg-medium);
    margin: 0 var(--sp-sm);
    border-radius: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-font-medium);
}

.session-player-info.opponent {
    flex-direction: row-reverse;
}

.session-player-info.active .avatar {
    border-color: rgb(69, 251, 151);
}

.session-game {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.game-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: var(--sp-md);
}

.game-controls button {
    position: relative;
    background-color: var(--color-bg-medium);
    border: var(--border-normal);
    border-radius: 100%;
    color: var(--color-font-light);
    font-size: 30px;
    margin-bottom: var(--sp-md);
    cursor: pointer;
}

.game-controls .solved-by-counts {
    position: absolute;
    top: -60px;
}

.game-controls .solved-by-counts div {
    width: 50px;
    padding: 2px 5px;
    font-size: var(--font-sm);
    color: black;
    font-weight: var(--font-bold);
    border-radius: 10px;
}

.game-controls .solved-by-counts div.solved-by-player {
    background-color: var(--color-font-accent);
}
.game-controls .solved-by-counts div.solved-by-opponent {
    margin-top: 5px;
    background-color: var(--color-font-error);
}