@use "../../../../styles/breakpoints.scss" as bp;
@import "../../../../styles/palette.scss";
@import "../../../../styles/font_sizes.scss";
@import "../../../../styles/animations.scss";

.Login {
    width: 100%;
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header {
        width: 100vw;
        min-width: 100vw;
    } 
}

.light {
    form {
        background: $white_3;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }    
}