@use '../../../../styles/breakpoints.scss' as bp;
@use '../../../../styles/palette.scss' as palette;
@use '../../../../styles/font_sizes.scss' as font;
@use '../../../../styles/animations.scss' as animations;

.ProjectCard {
    margin-bottom: 3rem;

    &:hover {
        background: palette.$black_x;

        & > div {
            background: palette.$black_x;
        }
    }

    .ProjectCard__image {
        width: 100%;
        border: 1px solid palette.$black_x;

        @include bp.xl {
            min-width: 350px;
            max-width: 350px;
            margin: 0;
        }
    }

    @include bp.xl {
        .ProjectCard__stack {
            flex-direction: row !important;
        }
    }

    h3 {
        margin: 0;
    }

    .ProjectCard__description {
        margin-bottom: 0;

        span:not(:first-child) {
            display: inline-block;
            margin-top: 0.5rem;
        }
    }

    .ProjectCard__links {
        color: palette.$accent_dark_3;
        font-size: font.$font_sm !important;
        padding: 0.25rem;
        border: 1px solid palette.$black_3;
        border-left: none;
        border-right: none;

        .typo--overline {
            color: palette.$accent_dark_3;
        }

        a {
            font-size: font.$font_sm !important;
            color: palette.$accent_dark_3;
            font-family: monospace;

            &:hover {
                color: palette.$accent_dark_2;
            }
        }
    }

    .ProjectCard__badges {
        gap: 0.5rem;
    }
    .Pill {
        font-variant: small-caps;
    }
}
