@use "../../styles/breakpoints.scss" as bp;
@import "../../styles/palette.scss";
@import "../../styles/font_sizes.scss";
@import "../../styles/animations.scss";

// Take off animations
.SubNav {
    display: none;
    animation: fade_in 500ms linear;
    opacity: 1;
    @include bp.xl {
        display: flex;
    }
}

main.contact {
    width: 100%;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0 0 3rem 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
 
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul.contacts {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5rem 0;
    list-style: none;
    font-size: $font_md;
    font-variant: small-caps;
    .icon {
        color: $accent_dark_3;
        font-size: $font_md;
        @include bp.md {
            font-size: $font_lg;
        }
    }
    .link {
        color: $white_4;
        @include bp.md {
            margin-left: 10px;
        }
    }
    .link:hover {
        color: white;
    }
    li {
        display: flex;
        align-items: center;
        & * {
            text-decoration: none;
        }
    }
}

form {
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2)
}

fieldset {
    width: 100%;
    margin: 1rem 0;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

input, textarea {
    width: 100%;
    padding: 20px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $black_3;
    color: white;
    font-weight: bold;
    font-size: $font_sm;
    font-variant: small-caps;
    &::placeholder {
        color: $white_3;
        font-weight: normal;
        opacity: 1;
    }
}

input:focus, textarea:focus, .submit-message:focus {
    background-color: black;
    border-color: $accent_dark_3;
    outline: none;
}

input {
    height: 2rem;
}

textarea {
    height: 8rem;
    padding-top: 10px;
}

.submit-message {
    min-height: 3rem;
    width: 300px;
    margin-top: 3rem;
    background-color: $accent_dark_3;
    border: 2px solid transparent;
    border-radius: 10px;
    color: $white_1;
    font-size: $font_sm;
    font-weight: bold;
    text-shadow: 2px 2px black;
    padding: 0 10px;
    cursor: pointer;
    &:hover, &:active {
        background-color: $accent_dark_4;
        color: white;
    }
}

.error-message {
    width: 100%;
    padding: 0 2.5rem;
    text-align: right;
    font-style: italic;
    color: rgb(220, 19, 86);
}

.character-counter {
    width: 100%;
    padding: 0 2.5rem;
    display: block;
    text-align: right;
    font-style: italic;
    color: $black_5;
}

.light {
    ul.contacts {
        .icon {
            color: $accent_dark_4;
        }
        .link {
            color: $black_1;
        }
    }
    input, textarea {
        color: black;
        &::placeholder {
            color: black;
        }
        &:focus {
            background-color: $white_2;
        }
    }
    .error-message {
        color: red;
    }
}