@use "../../../styles/breakpoints.scss" as bp;
@import "../../../styles/palette.scss";
@import "../../../styles/font_sizes.scss";


.wrapped-component {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    input {
        border: 2px solid $black_2;
        background-color: #000;
    }

    textarea {
        width: 100%;
        padding: 10px 10px;
        background-color: #000;
        color: $accent_dark_3;
        font-size: $font_sm;
        font-variant: small-caps;
        border: 2px solid $black_2;
        border-radius: 20px;
        resize: none;
    
        &::placeholder {
            color: $black_3;
            font-weight: normal;
            opacity: 1;
        }
    }
    
    textarea:focus {
        background-color: rgba(0, 0, 0, 0.5);
        border-color: $accent_dark_3;
        border-radius: 20px;
        outline: none;
    }

}

.wrapped-textarea {
    .textarea__info {
        font-size: $font-xxs;
        text-align: right;
        color: $black_4;

        .highlight {
            color: $accent_dark_4;
            font-weight: bolder;
        }
    }
}
.error-msg {
    margin: 0;
    margin-top: 1rem;
    width: 100%;
    text-align: right;
    font-size: $font-xs;
    font-style: italic;
    font-variant: small-caps;
    color: deeppink;
}

.action-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100% - 1rem);
    width: 3rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $accent_dark_3; 
    font-size: $font_md;
    border-left: 2px solid $black_2;
    cursor: pointer;
    &:hover {
        color: $accent_dark_1;
    }
}

.show-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 1rem);
    width: 3rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black_2;
    font-size: $font_md;
    border-right: 2px solid $black_2;

    .color {
        min-width: 20px;
        min-height: 20px;
        border: 2px solid $black_5;
        border-radius: 5px;
    }
}

.show-input-icon {
    .icon-padding {
            padding-left: 60px;
        }    
    
}

.wrapped-component.open {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid $black_2;
    background-color: black;

    input {
        border: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 2px solid $black_2;
    }
}

.option-dropdown {
    position: absolute;
    top: calc(100% - 2px);
    left: -2px;
    min-height: 100%;
    width: calc(100% + 4px);
    padding: 1rem;
    background-color: #0c0c0c;
    z-index: 10;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid $black_2;
    overflow-y: auto;
    max-height: 200px;

    .option {
        display: flex;
        align-items: center;
        padding: 0.25rem;
        border-bottom: 1px solid $black_2;
        color: $white_2;
        font-variant: small-caps;
        cursor: pointer;
        .icon {
            margin-right: 20px;
        }
        .highlight {
            color: $accent_dark_3;
            font-weight: bolder;
        }
        .color {
            min-width: 20px;
            min-height: 20px;
            border: 2px solid $black_5;
            border-radius: 5px;
        }
    }

    .option:hover {
        background-color: black;
        color: white;
    }

    .option:last-of-type {
        border-bottom: none;
    }
}