.interaction-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: var(--sp-lg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    z-index: 100;    
}

.interaction-overlay h2 {
    margin: 0;
    font-size: var(--font-md);
    font-weight: var(--font-bold);
    color: var(--color-font-accent);
    text-align: center;
}

.interaction-overlay p {
    margin: 0;
    font-size: var(--font-sm);
    text-align: center;
}

.interaction-overlay.error h2 {
    color: var(--color-font-error);
}