@use '../../../../styles/breakpoints.scss' as bp;
@use '../../../../styles/palette.scss' as palette;
@use '../../../../styles/font_sizes.scss' as font;
@use '../../../../styles/animations.scss' as animations;

.MessageAcknowledgement {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: palette.$black_1;
    z-index: 10000;
    @include bp.md {
        padding: 1rem 3rem;
    }
    h1 {
        margin: 0;
    }
    img {
        width: 60%;
        max-width: 150px;
        @include bp.md {
            max-width: 200px;
        }
    }
    p {
        margin: 1.5rem 0;
        max-width: 1000px;
        @include bp.sm {
            font-size: font.$font_md;
        }
    }
    .link {
        min-height: 3rem;
        width: 300px;
        margin-bottom: 3rem;
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: palette.$accent_dark_3;
        border: 2px solid transparent;
        border-radius: 10px;
        color: palette.$white_1;
        font-size: font.$font_sm;
        font-weight: bold;
        text-shadow: 2px 2px black;
        padding: 0 10px;
        text-decoration: none;
        cursor: pointer;
        &:hover,
        &:active {
            background-color: palette.$accent_dark_4;
            color: palette.$white_1;
        }
    }
}

.light .MessageAcknowledgement {
    background-color: palette.$white_1;
}
