@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/mixins.scss' as *;
@use '../../../styles/palette.scss' as palette;
@use '../../../styles/font_sizes.scss' as font;
@use '../../../styles/animations.scss' as animations;
@include fade_in_with_opacity(fade_in_095, 0.95);

.SubNav {
    top: 5rem;
    width: 100%;
    height: 5rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: palette.$black_1;
    font-size: font.$font_lg;
    border-bottom: 1px solid palette.$black_2;
    z-index: 80;
    opacity: 0.95;
    animation: fade_in_095 500ms 1200ms ease-out forwards;

    @include bp.sm {
        position: sticky;
        padding: 0 2rem;
    }
    @include bp.lg {
        padding: 0 4rem;
    }

    .sublogo {
        color: palette.$black_3;

        .sublogo-text {
            display: none;
            color: palette.$white_5;
            font-size: 1.4rem;
            letter-spacing: 0;

            @include bp.lg {
                display: inline;
            }
            span {
                font-family: 'Roboto_Bold';
                font-variant: small-caps;
            }
            span:last-child {
                color: palette.$black_3;
            }

            span:last-child {
                color: palette.$black_4;
            }
        }
    }

    .social-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    }

    .theme-toggle {
        display: none;
        @include bp.md {
            display: flex;
        }
    }

    .theme-icon {
        height: 1.5rem;
        color: palette.$white_3;
    }

    .social-links > * {
        align-items: center;
        margin-left: 0.5rem;
        font-size: font.$font_md;
        color: palette.$black_3;
        @include bp.md {
            margin-left: 1.5rem;
        }

        &:hover {
            color: white;
        }
    }
}

.light .SubNav {
    color: black;
    background-color: white;
    border-bottom: 1px solid palette.$white_3;
    .sublogo-text {
        color: palette.$black_5;
    }
    .social-links > * {
        color: palette.$white_5;
        &:hover {
            color: black;
        }
    }
    .theme-icon {
        color: palette.$black_1;
    }
}
