@use "../../../styles/breakpoints.scss" as bp;
@import "../../../styles/palette.scss";
@import "../../../styles/font_sizes.scss";

.SubNav {
    top: 5rem;
    width: 100%;
    height: 5rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black_1;
    color: $black_5;
    font-size: $font_lg;
    border-bottom: 1px solid $black_2;
    z-index: 1000;
    opacity: 0;
    animation: 
        from_below 500ms 1200ms ease-in, 
        fade_in 500ms 1200ms ease-out forwards;

    @include bp.sm {
        position: sticky;
        padding: 0 2rem;
    }
    @include bp.lg {
        padding: 0 4rem;
    }

    .sublogo {
        color: $black_3;

        .sublogo-text {
            display: none;
            color: $white_5;
            font-size: 1.4rem;
            letter-spacing: 0;
            
            @include bp.lg {
                display: inline;
            }
            span {
                font-family: "Roboto_Bold";
                font-variant: small-caps;
            }
            span:last-child {
                color: $black_3;
            }

            span:last-child {
                color: $black_4;
            }
        }
    }

    .social-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    }

    .theme-toggle {
        display: none;
        @include bp.md {
            display: flex;
        }
    }

    .theme-icon {
        height: 1.5rem;
        color: $white_3;
    }

    .social-links > * {
        align-items: center;
        margin-left: 0.5rem;
        font-size: $font_md;
        color: $black_3;
        @include bp.md {
            margin-left: 1.5rem;
        }

        &:hover {
            color: white;
        }
    }
}

.light .SubNav {
    color: black;
    background-color: white;
    border-bottom: 1px solid $white_3;
    .sublogo-text {
        color: $black_5;
    }
    .social-links > * {
        color: $white_5;
        &:hover {
            color: black;
        }
    }
    .theme-icon {
        color: $black_1;
    }
}