@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/palette.scss' as palette;
@use '../../../styles/font_sizes.scss' as font;

.link--inline {
    color: palette.$accent_dark_2;
    font-size: font.$font_md;
    margin-bottom: 1.5rem;
    @include bp.md {
        font-size: font.$font_lg;
    }
}

.light {
    .link--inline {
        color: palette.$accent_dark_3;
    }
    .certificates {
        color: palette.$black_2;
    }
}
