@use '../../../../styles/breakpoints.scss' as bp;
@use '../../../../styles/palette.scss' as palette;
@use '../../../../styles/font_sizes.scss' as font;

.MobileMenu {
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include bp.md {
        display: none;
    }

    & > li:hover,
    & > li *:hover {
        color: palette.$accent_dark_3 !important;
    }
    li {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        text-shadow: black 2px 2px 2px, palette.$black_3 -1px -1px 1px;
    }
    .link {
        position: relative;
    }

    .chevron-wrapper {
        display: flex;
        position: absolute;
        top: 0;
        right: -1.6rem;
        color: palette.$black_4;
    }
    footer {
        max-height: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        margin-top: auto;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.15);
        border-top: 2px solid #191919;
        border-radius: 5px;

        div,
        div * {
            font-family: monospace;
            font-size: font.$font_xs;
            color: palette.$black_5;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100vw;
        }

        .date {
            padding-top: 1rem;
            width: 100vw;
            text-align: center;
        }
    }
}
