@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/palette.scss' as palette;
@use '../../../styles/font_sizes.scss' as font;

.LikeButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 2.5rem 0;
    p {
        margin: 0;
        font-variant: small-caps;
        text-align: center;
    }
    hr {
        width: 100%;
    }
    .LikeButton__button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            .LikeButton__icon {
                color: palette.$white_3;
            }
            span {
                color: palette.$accent_dark_1;
            }
        }
        .LikeButton__icon {
            margin-right: 0.5rem;
            font-size: font.$font_lg;
            color: palette.$black_5;
        }
        .LikeButton__icon.disabled {
            color:  white;
        }
        span {
            color: palette.$accent_dark_3;
            font-family: monospace;
            font-size: font.$font_md;
        }
    }
}

.light {
    .LikeButton {
        .LikeButton__button-wrapper {
            .LikeButton__icon:hover {
                color: black;
            }
            .LikeButton__icon.disabled {
                color: black;
            }
        }
    }
}
