@use "../../styles/breakpoints.scss" as bp;
@import "../../styles/palette.scss";
@import "../../styles/font_sizes.scss";

.ExtendableSection {
    & > button {
        width: 100%;
        margin-bottom: 3rem;
        padding: 1rem 1.5rem;
        background-color: $black_1;
        border: 1px solid $accent_dark_2;
        border-radius: 50px;
        color: $white_3;
        font-size: $font_md;
        text-align: left;       
        cursor: pointer;
        
        @include bp.md {
            font-size: $font_lg;
        }
        
        .button__icon {
            height: 40px;
            display: none;
            color: $white_3;
            font-size: 2rem;
            @include bp.md {
                display: inline;
                color: $accent_dark_3;
            }
            &:hover {
                color: red;
            }
        }
    }
    & > button:hover {
        background-color: $black_2;
        color: white;

        .button__icon {
            color: $accent_dark_1;
            transform: scale(1.3);
        }
    }
    .chevron {
        min-width: 30px;
        font-size: $font_lg;
    }
    .chevron:hover {
        color: $accent_dark_1;
    }
    .extendable__button-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .delay-1 { animation-delay: 200ms, 200ms; }
    .delay-2 { animation-delay: 400ms, 400ms; }
    .delay-3 { animation-delay: 600ms, 600ms; }
    .delay-4 { animation-delay: 800ms, 800ms; }
    .delay-5 { animation-delay: 1000ms, 1000ms; }
    .anim-fade-from-left {
        opacity: 0;
        animation-name: fade_in, from_left;
        animation-duration: 500ms, 500ms;
        animation-timing-function: ease-out, ease-in;
        animation-fill-mode: forwards, forwards;
    }
    .anim-fade-from-right {
        opacity: 0;
        animation-name: fade_in, from_right;
        animation-duration: 500ms, 500ms;
        animation-timing-function: ease-out, ease-in;
        animation-fill-mode: forwards, forwards;
    }
}

.light .ExtendableSection {
    & > button {
        color: white;
        border-color: $white_5;
        border-width: 3px;
    }
    & > button:hover {
        color: $accent;
        background-color: $black_3;       
    }
}