@use '../../../styles/animations.scss';

.LoadingIndicator {
    width: 18px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        height: 100%;
        width: 5px;
        background-color: rgb(183, 183, 183);
        border-radius: 3px;
        opacity: 0.3;
        animation: loadingIndicatorBarAnimation 0.9s infinite;
    }
    div:nth-child(1) {
        animation-delay: -0.9s;
    }
    div:nth-child(2) {
        animation-delay: -0.6s;
    }
    div:nth-child(3) {
        animation-delay: -0.3s;
    }
}

.light {
    .LoadingIndicator {
        div {
            background-color: black;
        }
    }
}
