@use "../../../styles/breakpoints.scss" as bp;
@import "../../../styles/palette.scss";
@import "../../../styles/font_sizes.scss";
@import "../../../styles/animations.scss";

aside.blog-component--article {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: $black_1;
    z-index: 60;
    .line {
        position: absolute;
        display: none;
        width: 1px;
        height: 55vh;
        background-color: $black_3;
        right: 4.5rem;
        opacity: 0;
        animation: 
            fade_in 300ms 900ms ease-out forwards,
            from_above_far 1000ms 900ms ease-in;
        @include bp.lg {
            display: block;
        }
    }
    & > * {
        opacity: 0;
        animation: 
                fade_in 200ms ease-out forwards,
                from_above 200ms ease-in;
        &:nth-child(1) { animation-delay: 500ms; }
        &:nth-child(2) { animation-delay: 600ms; }
        &:nth-child(3) { animation-delay: 700ms; }
        &:nth-child(4) { animation-delay: 800ms; }
        &:nth-child(5) { animation-delay: 900ms; }
        &:nth-child(6) { animation-delay: 1000ms; }
        @include bp.lg {
            &:nth-child(1) { animation-delay: 1500ms; }
            &:nth-child(2) { animation-delay: 1600ms; }
            &:nth-child(3) { animation-delay: 1700ms; }
            &:nth-child(4) { animation-delay: 1800ms; }
            &:nth-child(5) { animation-delay: 1900ms; }
            &:nth-child(6) { animation-delay: 1100ms; }
        }
    }
    .aside-icon {
        margin: 1.5rem 0;
        color: $black_5;
        font-size: $font-lg;
        &:hover {
            color: white;
            transform: scale(1.1);
            cursor: pointer;
        }
        &.highlighted {
            color: white;
        }
    }
    @include bp.lg {
        display: flex;
        width: 30px;
        height: 80vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: 1.5rem;
        background-color: transparent;
        z-index: 40;
        .aside-icon {
            margin: 1rem 0;
            color: $black_5;
            font-size: $font-xl;
            &:hover {
                color: white;
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
    @include bp.xl {
        width: 50px;
        height: 80vh;
    }
    & div.Article__icon-box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            position: absolute;
            color: $accent_dark_3;
            font-family: monospace;
            font-size: $font_md;
            bottom: 0.5rem;
            @include bp.lg {
                bottom: -0.5rem;
            }
        }
    }
    & div.Article__icon-box:hover {
        span {
            color: $accent_dark_1;
        }
    }
}


// Every common blog style here
.blog-component {
    h1 {
        font-variant: small-caps;
        font-weight: normal;
    }
    article { 
        margin: 0 auto;
        padding: 0;
        
        max-width: 1200px;
    }
    h2 {
        text-align: center;
    }
    h3 {
        margin: 3rem 0;
        color: $white_2;
        font-size: $font_lg;
        font-family: Roboto_Bold;
        font-variant: small-caps;
    }
    img.image--lrg {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
    
    img.image--med {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: block;
    }
    
    img.bg--white {
        background-color: white;
    }
    
    a.inline {
        color: $accent_dark_2;
    }
    
    strong.bold {
        font-family: "Roboto_Bold";
    }
    
    p {
        @include bp.xl {
            text-align: justify;
        }
    }
    
    .code {
        margin: 0 auto;
        max-width: 1200px;
        background-color: $black_1 !important;
        border: 1px solid $black_3;
        span {
            font-family: monospace !important;
            font-size: $font_md;
            @include bp.lg {
                font-size: $font_lg;
            }
        }
    }
    
    .button {
        width: 100%;
        max-width: 400px;
        height: 3em;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $accent_dark_3;
        color: $black_1;
        border: 3px solid $black_3;
        border-radius: 100px;
        font-size: $font_md;
        font-family: "Roboto_Bold";
        text-decoration: none;
        cursor: pointer;
        & > * {
            margin-left: 0.5rem;
            font-size: 1.5rem;
            @include bp.lg {
                margin-left: 1rem;
                font-size: 2rem;
            }
        }
    
        @include bp.md {
            width: 40%;
        }
        @include bp.lg {
            font-size: $font_lg;
        }
    }
}

.light {
    h3 {
        color: $black_2;
    }
    aside {
        * {
            color: $white_5;
        }
    }
}