@font-face {
    font-family: mario-style-font;
    src: url(../../fonts/SuperMario256.ttf);
}

@font-face {
    font-family: main-game-font;
    src: url(../../fonts/MainGameFont.ttf);
}

@font-face {
    font-family: mono;
    src: url(../../fonts/SourceCodePro-ExtraLight.ttf);
}

@use '_main.scss';
@use '_header.scss';
@use '_logo.scss';
@use '_levels.scss';
@use '_menu.scss';
@use '_game-board.scss';
@use '_inventory.scss';
@use '_shards.scss';
@use '_bonus-gems.scss';
@use '_messages_and_points';
@use '_countback';
@use '_end-of-level-stat';
@use '_shop.scss';
@use '_walkthrough.scss';
@use '_about.scss';
