@use '../../../../styles/breakpoints.scss' as bp;
@use '../../../../styles/palette.scss' as palette;
@use '../../../../styles/font_sizes.scss' as font;
@use '../../../../styles/animations.scss' as animations;

form {
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111;
    opacity: 1;
    background-image:
        repeating-radial-gradient(circle at 0 0, transparent 0, #0c0c0c 4px),
        repeating-linear-gradient(#07070755, #070707);
    border: 2px solid palette.$black_2;
    border-radius: 20px;
    @include bp.md {
        padding: 1.5rem;
        font-size: 1.3rem;
    }
    fieldset {
        width: 100%;
        margin: 1rem;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        border: none;
        @include bp.md {
            margin: 1rem;
            padding: 0 1.5rem;
            flex-direction: row;
            align-items: start;
            justify-content: space-between;
        }
    }

    label {
        min-width: 120px;
        margin-right: 20px;
        margin-bottom: 1rem;
        font-variant: small-caps;
        color: palette.$white_5;
        @include bp.md {
            margin-top: 10px;
            margin-right: 5rem;
        }
    }

    input {
        width: 100%;
        padding: 20px 10px;
        background-color: #090909;
        color: palette.$accent_dark_3;
        font-size: font.$font_sm;
        font-variant: small-caps;
        border-radius: 20px;
        &::placeholder {
            color: palette.$black_3;
            font-weight: normal;
            opacity: 1;
        }
    }

    input:focus {
        background-color: rgba(0, 0, 0, 0.5);
        border-color: palette.$accent_dark_3;
        border-radius: 20px;
        outline: none;
    }

    input {
        height: 2rem;
    }

    /* Hide the default checkbox */
    input[type='radio'] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        min-height: 2rem;
        background-color: transparent;
        border: 2px solid palette.$black_3;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
    }

    input[type='radio']:checked {
        background-color: palette.$accent_dark_3;
        position: relative;
        border: 2px solid palette.$black_2;
    }

    .loading-indicator {
        margin: 1.5rem 0;
        font-size: font.$font_md;
        color: palette.$white_4;
        animation: rotation 1s linear infinite;
    }

    .user-message {
        margin: 1.5rem 0;
        color: palette.$white_4;
        font-variant: small-caps;
    }

    .button-box {
        width: 100%;
        display: flex;
        padding: 0 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include bp.md {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            button:nth-child(2) {
                margin-left: auto;
            }
        }
    }

    .wrapped-input {
        position: relative;
    }

    button {
        min-height: 3rem;
        width: calc(100% - 2rem);
        margin: 0 1rem;
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: palette.$accent_dark_1;
        border: 2px solid transparent;
        border-radius: 50px;
        color: black;
        font-size: font.$font_sm;
        font-family: 'Roboto_Bold';
        font-variant: small-caps;
        cursor: pointer;

        @include bp.sm {
            width: 280px;
        }

        &:hover,
        &:active {
            background-color: palette.$accent_dark_4;
            border: 2px solid palette.$accent_dark_3;
            color: white;
        }

        &:disabled {
            border: 2px solid palette.$black_3;
            background-color: palette.$accent_dark_3;
            color: palette.$accent_dark_5;
            cursor: not-allowed;
        }
        &[type='submit'] {
            margin-bottom: 1rem;
        }
    }

    button.secondary {
        background-color: #000;
        border: 2px solid palette.$accent_dark_5;
        color: white;
    }

    .error-message {
        width: 100%;
        padding: 0 2.5rem;
        text-align: right;
        font-style: italic;
        font-variant: small-caps;
        color: deeppink;
    }
    .submit-error-message {
        width: calc(100% - 2rem);
        padding: 0.5rem 2.5rem;
        margin: 1rem;
        text-align: center;
        font-size: 1.4rem;
        font-family: monospace;
        font-variant: small-caps;
        color: deeppink;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid palette.$black_3;
        border-radius: 10px;
        @include bp.md {
            width: 500px;
        }
    }

    .submit-success-message {
        padding: 0.5rem 2.5rem;
        margin: 1rem;
        text-align: center;
        font-size: 1.4rem;
        font-family: monospace;
        font-variant: small-caps;
        color: palette.$accent_dark_2;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid palette.$black_3;
        border-radius: 10px;
    }

    .error-message {
        color: deeppink;
    }

    .user-message {
        color: palette.$black_1;
    }
}

.dark {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: #000;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px palette.$black_1;
    }
}

.light {
    input {
        color: black;
        font-weight: bold;
        background-color: palette.$white_3;

        &::placeholder {
            color: black;
        }

        &:focus {
            background-color: palette.$white_3;
        }
    }
    input:focus {
        background-color: palette.$white_3;
        transition: background-color 5000s ease-in-out 0s;
        border-color: palette.$accent_dark_3;
        color: palette.$black_1;
    }

    input:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: palette.$black_1;
        box-shadow: inset 0 0 20px 20px palette.$white_3;
    }
}
