@use "../../styles/breakpoints.scss" as bp;
@import "../../styles/palette.scss";
@import "../../styles/font_sizes.scss";
@import "../../styles/animations.scss";

.BlogList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}