@use "../../../../styles/breakpoints.scss" as bp;
@import "../../../../styles/palette.scss";
@import "../../../../styles/font_sizes.scss";
@import "../../../../styles/animations.scss";

main {
    background-color: rgba(255, 255, 255, 0.02);
}

h2 {
    margin: 1rem 0;
    @include bp.md {
        font-size: $font_xl;
    }

    @include bp.lg {
        font-size: $font_xl;
    }
}

p {
    font-size: $font_md;
    @include bp.sm {
        font-size: $font_md;
    }

    @include bp.sm {
        font-size: $font_lg;
    }

    @include bp.lg {
        font-size: $font_lg;
    }
}

.subtitle {
    color: $white_3;
    font-size: $font_xs;
    font-variant: normal;
    font-style: italic;
}

.light {
    .subtitle {
        color: $black_3;
    }
}
