.solution-board {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background-color: var(--color-background-light);
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
}

.solution-board div.column {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: 5px;
  box-sizing: border-box;
  overflow-y: none;
}

.solution-board div.column div.word {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2px 0;
  margin: 1px 0;
}

.solution-board div.column div.word .letter {
    margin: 0 1px;
    padding: 4px 2px;
    max-width: 40px;
    max-height: 40px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(var(--letter-size, 20px) * 0.8);
    font-weight: var(--font-bold);
    background-color: var(--color-bg-medium);
    border: var(--border-normal);
    border-radius: 3px;
    box-sizing: border-box;
}

.solution-board div.column div.word.unsolved .letter {
    color: transparent;
  }
  
.solution-board div.column div.word.solved .letter.solved-by-player {
    border-color: var(--color-font-accent);
    background-color: var(--color-bg-dark);
}

.solution-board div.column div.word.solved .letter.solved-by-opponent {
    border-color: var(--color-font-error);
    background-color: var(--color-bg-dark);
}
