@use '../../../../styles/breakpoints.scss' as bp;
@use '../../../../styles/palette.scss' as palette;
@use '../../../../styles/font_sizes.scss' as font;

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    @include bp.md {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

h3.skill-header {
    font-size: 1.4rem;
    font-variant: small-caps;
    margin-bottom: 1.5rem;
    @include bp.md {
        font-size: font.$font_lg;
    }
}

.button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

    @include bp.md {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .link {
        width: 100%;
        max-width: 400px;
        height: 3em;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: palette.$accent_dark_3;
        color: palette.$black_1;
        border: 3px solid palette.$black_3;
        border-radius: 100px;
        font-size: font.$font_md;
        font-family: 'Roboto_Bold';
        text-decoration: none;
        cursor: pointer;
        & > * {
            margin-left: 0.5rem;
            font-size: 1.5rem;
            @include bp.lg {
                margin-left: 1rem;
                font-size: 2rem;
            }
        }

        @include bp.md {
            width: 40%;
        }
        @include bp.lg {
            font-size: font.$font_lg;
        }
    }

    link:hover {
        background-color: palette.$accent_dark_2;
    }
}
