@use '../../../../styles/breakpoints.scss' as bp;
@use '../../../../styles/palette.scss' as palette;
@use '../../../../styles/font_sizes.scss' as font;

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    @include bp.md {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

h3.skill-header {
    font-size: 1.4rem;
    font-variant: small-caps;
    margin-bottom: 1.5rem;
    @include bp.md {
        font-size: font.$font_lg;
    }
}

.button-wrapper {
    margin-bottom: 1.5rem;

    @include bp.md {
        flex-direction: row !important;
    }

    a {
        width: 300px;
        max-width: 100%;
        @include bp.md {
            width: auto;
        }
    }
}
