@use '../../../../../styles/breakpoints.scss' as bp;
@use '../../../../../styles/palette.scss' as palette;
@use '../../../../../styles/font_sizes.scss' as font;

.Breadcrumbs {
    max-width: 100vw;
    height: 2rem;
    display: flex;
    align-items: center;
    margin: 1.5rem 2rem;
    margin-top: 0;
    padding-bottom: 1.5rem;
    font-size: 1.3rem;
    font-variant: small-caps;
    border-bottom: 2px solid #191919;

    .home-icon {
        color: palette.$gray_1;
    }

    .home-icon,
    .crumb {
        min-width: 22px;
        text-shadow: black 2px 2px 2px, palette.$black_3 -1px -1px 1px;
    }

    .path {
        color: palette.$black_3;
        text-shadow: black 2px 2px 2px;
    }

    span {
        font-family: 'Roboto_Bold';
        white-space: nowrap;
    }

    .breadcrumb:nth-of-type(1) .crumb {
        color: palette.$black_5;
    }
    .breadcrumb:nth-of-type(2) .crumb {
        color: palette.$black_4;
    }
    .breadcrumb:nth-of-type(3) .crumb {
        color: palette.$black_3;
    }

    .slash {
        margin: 0 0.5rem;
        color: palette.$black_3;
    }

    .home-icon:hover,
    .crumb:hover {
        text-decoration: underline;
        color: palette.$accent_dark_3 !important;
        cursor: pointer;
    }
}
