@use "../../styles/breakpoints.scss" as bp;
@import "../../styles/palette.scss";
@import "../../styles/font_sizes.scss";
@import "../../styles/animations.scss";

.ProjectFilter {
    margin: 1.5rem 0.5rem 3rem 0.5rem;
    padding: 1.5rem 0.5rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $black_2;
    border: 1px solid $black_5;
    border-radius: 50px;
    cursor: pointer;
    @include bp.md {
        padding: 0.5rem;
    }
    .badge {
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: grey;
        border-radius: 20px;
        border: 1px solid #222;
        color: $black_3;
        font-size: 1rem;
        font-style: italic;
        font-variant: small-caps;
        font-family: "Roboto_Bold";
        @include bp.md {
            padding: 0.5rem 1rem;
        }
    }

    .selected {
        opacity: 0.3;
    }
    .badge.yellow { background-color: yellow; }
    .badge.orange { background-color: rgb(255, 166, 0); }
    .badge.pink { background-color: deeppink; }
    .badge.purple { background-color: rgb(172, 0, 172); }
    .badge.light-green { background-color: rgb(0, 226, 151); }
    .badge.light-blue { background-color: aqua; }
}

.light .ProjectFilter {
    background-color: $white_2;
    .badge {
        border: 1px solid $white_5;
    }
}