@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/palette.scss' as palette;
@use '../../../styles/font_sizes.scss' as font;

.ProgressBar {
    width: 100%;
    max-width: 600px;
    height: 80px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: palette.$black_2;
    border: 1px solid palette.$black_3;
    border-radius: 50px;

    @include bp.sm {
        flex-direction: row;
    }
    @include bp.md {
        margin: 1rem;
    }

    .ProgressBar__title-wrapper {
        margin: 0 1rem;
        padding-top: 0.5rem;
        width: 100%;
        display: flex;
        align-items: center;

        @include bp.sm {
            margin: 0.5rem 1rem;
            padding-top: 0;
            max-width: 200px;
            justify-content: space-between;
        }
    }

    .ProgressBar__title {
        display: flex;
        align-items: center;
        color: palette.$white_3;
        margin: 0;
        font-size: 1.2rem;
        font-weight: bold;
        white-space: nowrap; /* Prevent the text from wrapping */
        overflow: hidden; /* Hide any overflowing text */
        text-overflow: ellipsis; /* Display ellipsis (...) for overflowing text */
    }

    .ProgressBar__icon {
        margin-right: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: palette.$white_5;
        font-size: font.$font_lg;
    }

    .ProgressBar__inner {
        padding: 0.5rem;
        width: 100%;
        display: flex;
        align-items: center;

        .ProgressBar__track {
            width: 100%;
            background-color: palette.$black_1;
            border: 2px solid palette.$black_3;
            border-radius: 100px;
            @include bp.md {
                min-width: 400px;
            }

            .ProgressBar__thumb {
                height: 100%;
                min-height: 10px;
                background-color: palette.$accent_dark_1;
                border: 1px solid palette.$black_3;
                border-radius: 100px;
                &.yellow {
                    background-color: yellow;
                }
                &.orange {
                    background-color: rgb(255, 166, 0);
                }
                &.pink {
                    background-color: deeppink;
                }
                &.purple {
                    background-color: rgb(172, 0, 172);
                }
                &.light-green {
                    background-color: rgb(0, 226, 151);
                }
                &.light-blue {
                    background-color: aqua;
                }
            }
        }
    }
}

.light {
    .ProgressBar {
        background-color: palette.$white_2;
        border: 1px solid palette.$white_5;

        .ProgressBar__title {
            color: black;
        }

        .ProgressBar__track {
            background-color: palette.$gray_4;
            border: 1px solid palette.$black_3;
        }
        .ProgressBar__thumb {
            opacity: 0.8;
        }
    }
}
