@use '../../../../styles/breakpoints.scss' as bp;
@use '../../../../styles/palette.scss';
@use '../../../../styles/font_sizes.scss';

.link {
    position: relative;
    .xmas-hat {
        position: absolute;
        width: 30px;
        height: auto;
        top: -3px;
        right: -15px;
        opacity: 0.8;
    }
}

.nav_links {
    margin-left: 0;
    margin-top: 0;

    @include bp.md {
        font-size: 0.8rem;
    }
    @include bp.lg {
        font-size: 1rem;
    }
}

.Header {
    box-shadow: 5px 5px 5px black;
    border: none;

    li:nth-child(1) {
        animation-delay: 100ms !important;
    }
    li:nth-child(2) {
        animation-delay: 200ms !important;
    }
    li:nth-child(3) {
        animation-delay: 300ms !important;
    }
    li:nth-child(4) {
        animation-delay: 400ms !important;
    }
    li:nth-child(5) {
        animation-delay: 500ms !important;
    }
    li:nth-child(6) {
        animation-delay: 600ms !important;
    }
}

li {
    animation: none;
    outline: none;
    &:hover {
        transform: scale(1) !important;
    }

    span.active {
        color: white;
    }
}
