@use "../../../../styles/breakpoints.scss" as bp;
@import "../../../../styles/palette.scss";
@import "../../../../styles/font_sizes.scss";

.nav_links {
    margin-left: 0;
    margin-top: 0;
    @include bp.md {
        font-size: 0.8rem;
    }
    @include bp.lg {
        font-size: 1rem;
    }
}

li {
    animation: none;
    outline: none;
    &:hover { transform: scale(1) !important; }

    span.active {
        color: white
    }
}
