@use "./styles/breakpoints.scss" as bp;
@import "./styles/palette.scss";
@import "./styles/font_sizes.scss";

body {
    background-color: $white_1;
    color: black;
}

body.dark {
    background-color: $black_1;
    color: white;
}

br {
    margin-bottom: 1.5rem;
}
