@use './styles/breakpoints.scss' as bp;
@use './styles/palette.scss' as palette;
@use './styles/font_sizes.scss' as font;

@font-face {
    font-family: Roboto_Light;
    src: url('./assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: Roboto_Medium;
    src: url('./assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto_Bold;
    src: url('./assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: Fira;
    src: url('./assets/fonts/FiraCode-Medium.ttf');
}

html {
    max-width: 100vw;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto_Light, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    scrollbar-color: palette.$accent_dark_3 #888;
    scrollbar-width: thin;
}

// *:focus {
//     outline: 1px solid palette.$accent_dark_3;
//     outline-offset: 8px;
//     border-radius: 20px;
// }

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: palette.$accent_dark_3;
}

::-webkit-scrollbar-thumb:hover {
    background: palette.$accent_dark_1;
}

.scroll::-webkit-scrollbar {
    width: 4px;
    transition: width 0.5s;
}

.scroll::-webkit-scrollbar-thumb {
    background: palette.$accent_dark_1;
}

body {
    background-color: palette.$white_1;
    color: black;
}

body.dark {
    background-color: palette.$black_1;
    color: white;
}

br {
    margin-bottom: 1.5rem;
}

strong {
    color: white;
}

.light strong {
    color: black;
}

h1 {
    color: white;
    font-size: font.$font_lg;
    font-variant: small-caps;
    @include bp.md {
        font-size: font.$font_xx;
    }
}

h2 {
    margin: 3rem 0;
    color: palette.$white_2;
    font-size: font.$font_lg;
    font-family: 'Roboto_Bold';
    font-variant: small-caps;
}

hr {
    height: 0;
    background-color: transparent;
    border: 1px solid palette.$black_2;
    margin-bottom: 3rem;
}

main {
    padding: 3rem 1rem 3rem 1rem;
    @include bp.md {
        padding: 3rem 5rem;
    }
    @include bp.lg {
        padding: 3rem 15%;
    }
}

p {
    margin: 3rem 0;
    color: palette.$white_3;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.5rem;
}

figcaption {
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
    color: palette.$white_5;
    text-align: center;
    font-size: font.$font_md;
    font-style: italic;
    @include bp.lg {
        font-size: font.$font_lg;
    }
}

span.sidenote {
    color: palette.$white_5;
    font-style: italic;
}

.light {
    h1,
    h2 {
        color: palette.$black_2;
        text-shadow: none;
    }
    hr {
        border: 1px solid palette.$white_5;
    }
    p {
        color: black;
    }
}
