@use "../../styles/breakpoints.scss" as bp;
@import "../../styles/palette.scss";
@import "../../styles/font_sizes.scss";

.ProgressBar {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: $black_2;
    border: 1px solid $black_3;
    border-radius: 50px;

    @include bp.sm {
        flex-direction: row;
    }

    .ProgressBar__title-wrapper {
        width: 100%;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include bp.sm {
            max-width: 200px;
        }
    }
    
    .ProgressBar__title {
        display: flex;
        align-items: center;
        color: $white_5;
        font-weight: bold;
        white-space: nowrap; /* Prevent the text from wrapping */
        overflow: hidden; /* Hide any overflowing text */
        text-overflow: ellipsis; /* Display ellipsis (...) for overflowing text */
    }
    
    .ProgressBar__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white_5;
        font-size: $font_lg;
    }


    .ProgressBar__inner {
        padding: 0.5rem;
        width: 100%;
        display: flex;
        align-items: center;

        .ProgressBar__track {
            width: 100%;
            background-color: $black_1;
            border: 2px solid $black_3;
            border-radius: 100px;

            .ProgressBar__thumb {
                height: 100%;
                min-height: 10px;
                background-color: $accent_dark_1;
                border: 1px solid $black_3;
                border-radius: 100px;
            }
        }
    }
}

.light {
    .ProgressBar {
        background-color: $white_2;
        border: 1px solid $white_5;

        .ProgressBar__title {
            color: black;
        }

        .ProgressBar__track {
            background-color: $gray_4;
            border: 1px solid $black_3;
        }
        .ProgressBar__thumb {
            opacity: 0.8;
        }
    }
}