@use '../../../styles/breakpoints.scss' as bp;
@use '../../../styles/palette.scss' as palette;
@use '../../../styles/font_sizes.scss' as font;

.BlogCard {
    margin: 1.5rem 0;
    cursor: pointer;

    .BlogCard__inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include bp.md {
            flex-direction: row;
            align-items: flex-start;
        }

        .BlogCard__img-wrapper {
            width: 100%;
            min-height: 250px;
            display: flex;
            align-items: center;
            flex-direction: column;

            .BlogCard__img-box {
                position: relative;
            }

            @include bp.md {
                max-width: 250px;
                margin-bottom: 0;
            }

            img {
                width: 100%;
                max-width: 500px;
                max-height: 500px;
                height: auto;
                @include bp.md {
                    width: 250px;
                    height: 250px;
                }
            }
        }

        .BlogCard__text-wrapper {
            @include bp.md {
                width: 100%;
                min-height: 250px;
                margin-left: 1.5rem;
                p {
                    margin-top: 1.5rem;
                    text-align: left;
                }
            }
        }

        header span.BlogCard__created {
            display: flex;
            margin-top: 1rem;
            margin-left: 0;
            font-size: font.$font_sm;
            justify-content: center;
            color: palette.$black_4;
            font-family: monospace;
            font-weight: bold;

            @include bp.md {
                justify-content: flex-start;
            }

            @include bp.xl {
                display: none;
                margin-left: auto;
            }
        }

        .BlogCard__title {
            margin-top: 1rem;
            padding-bottom: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #222;

            @include bp.md {
                margin-top: 0;
                justify-content: flex-start;
                align-items: flex-start;
            }

            .BlogCard__title-text {
                color: white;
                max-width: 500px;
                font-variant: small-caps;
                text-align: center;
                @include bp.md {
                    text-align: left;
                }
            }

            .BlogCard__info {
                margin-top: 0.5rem;
                color: palette.$accent_dark_3;

                & > * {
                    font-weight: bold;
                    font-size: font.$font_sm;
                }
                span {
                    font-family: monospace;
                }

                .BlogCard__info-datablock {
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    @include bp.md {
                        min-width: 100px;
                    }
                    &:hover {
                        .BlogCard__hint-text {
                            display: inline;
                        }
                        .BlogCard__info-icon {
                            color: palette.$accent;
                        }
                        .BlogCard__info-text {
                            color: palette.$accent_dark_1;
                        }
                    }

                    .BlogCard__hint-text {
                        position: absolute;
                        display: none;
                        left: 0;
                        top: -3rem;
                        min-width: 100%;
                        padding: 0.5rem 1rem;
                        background-color: black;
                        border: 1px solid palette.$white_5;
                        color: palette.$accent_dark_1;
                        text-align: center;
                    }
                    .BlogCard__info-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: palette.$black_3;
                        font-size: font.$font_md;
                        text-decoration: none;
                    }
                    .BlogCard__info-icon.disabled {
                        fill: deeppink;
                        opacity: 0.3;
                    }
                    .BlogCard__info-text {
                        color: palette.$accent_dark_3;
                        margin: 0 0.5rem;
                    }
                }
                span.BlogCard__created {
                    display: none;
                    text-align: right;
                    color: palette.$black_4;
                    padding: 0;
                    margin: 0;
                    margin-left: auto;
                    font-weight: bold;

                    @include bp.xl {
                        display: flex;
                    }
                }
            }
        }

        .BlogCard__abstract {
            height: 100%;
            margin: 0;
            margin-top: 1.5rem;
        }

        .BlogCard__badge-box {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 0.5rem;
            justify-content: flex-end;
            box-sizing: border-box;
        }

        .BlogCard__upcoming-overlay {
            position: absolute;
            padding: 8px;
            top: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: palette.$black_1;
            clip-path: polygon(0 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);
            .BlogCard__overlay-icon {
                font-size: font.$font_lg;
                color: palette.$white_3;
            }
            .BlogCard__upcoming-date {
                margin: 0 1.5rem 0 1rem;
                font-family: monospace;
                font-size: font.$font_md;
                color: palette.$accent_dark_1;
            }
        }

        .BlogCard__new-overlay {
            position: absolute;
            padding: 8px;
            top: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: palette.$black_1;
            clip-path: polygon(0 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);
            .BlogCard__overlay-icon--new {
                font-size: font.$font_lg;
                color: palette.$accent_dark_3;
            }
            .BlogCard__new-text {
                margin: 0 2rem 0 0.5rem;
                color: white;
                font-size: font.$font_lg;
                font-weight: bold;
                font-family: monospace;
                font-variant: small-caps;
            }
        }
    }

    &:hover {
        background-color: black;
        .region__content {
            background-color: black;
        }
        .BlogCard__title-text {
            color: white;
            text-decoration: underline;
        }
        .BlogCard__abstract {
            color: white;
        }
        .BlogCard__info .BlogCard__info-datablock .BlogCard__info-text {
            color: palette.$accent_dark_2;
        }
        span.BlogCard__created {
            color: palette.$accent_dark_3 !important;
        }
    }
}

.light {
    .BlogCard {
        &:hover {
            background-color: palette.$white_3;
            .BlogCard__title-text {
                color: black;
            }
            .BlogCard__abstract {
                color: black;
            }
            .BlogCard__info .BlogCard__info-datablock .BlogCard__info-text {
                color: palette.$accent_dark_5;
            }
            .BlogCard__info .BlogCard__info-datablock:hover {
                .BlogCard__info-icon {
                    color: black;
                }
            }
        }

        .BlogCard__title-text {
            color: palette.$black_2;
        }

        .BlogCard__img-wrapper {
            border: none;
        }
    }
}
