@use '../../../../styles/breakpoints.scss' as bp;
@use '../../../../styles/palette.scss' as palette;
@use '../../../../styles/font_sizes.scss' as font;
@use '../../../../styles/animations.scss' as animations;

.Logout {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logout-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include bp.md {
            width: 600px;
            flex-direction: row;
            justify-content: space-between;
        }

        button {
            height: 2.5rem;
            width: 250px;
            margin-bottom: 1rem;
            font-variant: small-caps;

            @include bp.md {
                height: auto;
                padding: 0.5rem;
            }
        }

        button:hover {
            background-color: palette.$accent_dark_1;
        }
    }
    p {
        text-align: center;
    }
}
