@use '../../../../../styles/palette.scss' as palette;
.AddRecords {
    ul {
        list-style: none;
    }
    li {
        border-top: 1px solid palette.$black_4;
        padding-top: 1.5rem;
    }
    button {
        height: 2.5em;
        margin-bottom: 0;
        background-color: palette.$accent_dark_1;
        font-weight: bolder;
        border-radius: 100px;
        font-size: 1.2em;
    }
    .small-text {
        margin-top: 0.5rem;
        font-size: 1.25em;
    }
}
