@use "../../styles/breakpoints.scss" as bp;
@import "../../styles/palette.scss";
@import "../../styles/font_sizes.scss";

header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    @include bp.sm {
        padding: 0 2em;
    }

    .logo, .burger {
        color: $white_5;
        font-size: $font_xl;
        @include bp.sm {
            font-size: $font_xx;
        }
    }

    .burger {
        @include bp.md {
            display: none;
        }
    }

    .nav_links {
        display: none;
        list-style: none;
        @include bp.md {
            display: flex;
        }

        li {
            padding-left: 2rem;
            color: $white_5;
            font-size: $font_lg;
            cursor: pointer;
        }

        li.active {
            color: white;
        }
    }
}