@use "../../../styles/breakpoints.scss" as bp;
@import "../../../styles/palette.scss";
@import "../../../styles/font_sizes.scss";
@import "../../../styles/animations.scss";

.References {
    h4 {
        font-size: $font-lg;
        font-style: italic;
        font-weight: bold;
        color: $white_2;
        margin-bottom: 1.5rem;
    }
    ul {
        max-width: 100%;
        list-style: none;
        margin-bottom: 0;
        @include bp.md {
            margin-bottom: 1.5rem;
        }

        li {
            max-width: calc(100vw - 3rem);
            margin: 1.5rem;
            margin-top: 0;
            padding-bottom: 1.5rem;
            display: inline-flex;
            flex-direction: column;
            border-bottom: 2px solid $black_1;

            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            
            @include bp.md {
                padding-bottom: 0;
                margin-bottom: 0.5rem;
                flex-direction: row;
                border-bottom: none;
                margin: 0;
            }

            span.left {
                @include bp.md {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 35vw;
                    min-width: 35vw;
                    padding: 1rem;
                    display: inline;
                    border-right: 2px solid $black_2;
                }
            }
        }

        span, a {
            max-width: 100%;
            color: $white_5;
            padding-right: 10px;
            white-space: pre-wrap; /* CSS3 */    
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */    
            white-space: -o-pre-wrap; /* Opera 7 */    
            word-wrap: break-word; /* Internet Explorer 5.5+ */
            overflow-y: auto;
            @include bp.md {
                padding: 10px;
            }
        }

        a {
            word-break: break-all;
        }

        .References__index {
            font-style: italic;
            font-weight: bold;
            color: $white_3;
        }

        .References__author {
            font-weight: bold;
            color: $white_3;
        }

        .References__title {
            font-style: italic;
        }

        a {
            font-family: "Fira", monospace;
            font-size: $font-xs;
            font-weight: lighter;
            padding-top: 1rem;
            @include bp.md {
                padding-left: 2rem;
            }
            &:hover {
                color: $accent_dark_2;
                transform: scale(1.05);
            }
        }
    }
}

.light {
    h4 {
        color: $black_4;
    }

    ul {
        li {
            border-bottom: 2px solid $white_2;
            @include bp.md {
                border-bottom: none;
            }
            .References__index, .References__title {
                color: $black_4;
            }
            .References__author {
                color: $black_1;
                font-weight: bold;
            }
            .References__title {
                font-weight: bold;
            }
            a {
                color: $black_5;
                &:hover {
                    color: $accent_dark_3;
                }
            }
        }
    }
}